[2019-04-24 19:13] jfhector opened #3 "A way to see support for ARIA attributes at a glance"
I'm opening this issue just so that we have a place to share some design research.

If you find useful references for how similar features are designed or implemented somewhere else, please share these examples here. Even when there are fundamental differences in the projects', having a wide range of examples and references will help us a lot when we think about design.

This for example is how th

[2019-04-24 19:18] jfhector commented on #3
This is how Vispero documents supports for ARIA
https://freedomscientific.github.io/VFO-standards-support/aria.html

<img width="1422" alt="Screenshot 2019-04-24 at 20 15 33" src="https://user-images.githubusercontent.com/30028540/56687368-02560a00-66ce-11e9-9856-bcb7ef54b5b1.png">

Each row has a link to a test case page. Here's an example test case page, which happens to be covering several test

[2019-04-30 20:01] jfhector commented on #3
Other useful reference:
https://www.html5accessibility.com/

Table showing support different HTML 5 attributes, grouped by themes:
<img width="1263" alt="Table showing support different HTML 5 attributes, grouped by themes" src="https://user-images.githubusercontent.com/30028540/56989631-d41f7100-6b8a-11e9-88db-41bd317a44a1.png">

Table rows can be expanded to show more detailed test results:
<img

[2019-05-01 14:56] mfairchild365 commented on #3
@jfhector thank you for starting this issue and sharing those resources. I did some similar research when I started the a11ysupport.io project. A short summary of my findings are below:

* [Can I use](https://caniuse.com/) - This is very similar in concept, but only aims to answer the question "can I use feature x with browser y". It does not include assistive technology support. Developers can co

[2019-06-14 17:16] jfhector opened #4 "Improvements to high-level use cases wiki page"
I’ve created a [wiki page called 'High level use cases'](https://github.com/w3c/aria-at/wiki/High-level-use-cases).

I'm opening this issue as a place to discuss modifications to that wiki page.

[2019-06-17 12:27] mfairchild365 commented on #4
Thank you for putting this together, @jfhector

One quick question: under 1.1, there is this outcome:

Does "the interface" refer to the interface the web developer is building, or the interface for the data that we are providing?

[2019-06-17 13:22] jfhector commented on #4
Thanks @mfairchild365 for spotting this ambiguity.

I've just fixed the phrasing under 1.1 and 1.2 to say:

Spelling out our users' / stakeholders' situations of struggles and desired outcomes is a way to better understand their needs.

So the 'Outcomes they're hoping for' are _their_ desired outcomes as they experience the situation of struggle – rather than ours.

[2019-06-17 13:54] jfhector commented on #4
Here's a diagram with an example of how understanding someone's 'situation of struggle' and 'desired outcomes' helps us understand their needs. (I've put it together for a design conference last week).

![Method diagram described below](https://user-images.githubusercontent.com/30028540/59608361-16861880-910d-11e9-9d7a-431d3638e654.jpg)

The diagram represents someone who's experiencing a situatio

[2019-07-03 09:00] mcking65 opened #5 "Develop assertion model for screen reader testing"
Objective: Determine how gramular to make assertions when testing screen reader support for an element or widget pattern.

[2019-07-03 09:09] mcking65 commented on #5
Proposing a less gramular model where:

1. There are two kinds of tests: Reading and Operation.
2. Each test may be performed with one of two pre-conditions: 1) SR in reading mode or 2) SR in Interaction mode
3. Each test is associated with an element or element type, e.g., checkbox, group, menubar, menuitem.
4. Each test has an importance (Must Have | Should Have | Nice to Have)
5. There is one a

[2019-07-03 19:23] jfhector opened #6 "Design a simple way for testers to contribute"
Here are some thoughts and [a small design exploration](https://test-page-jfariaatjuly3.now.sh/) from me. This is based on the [assertion model that @mcking65 shared in a separate issue](https://github.com/w3c/aria-at/issues/5), and the conversation that we had reviewing it.

#### I do agree that we need to make things simpler and easier to understand for testers

@mfairchild365 This week I ran th

[2019-07-03 19:51] mfairchild365 commented on #6
This is incredibly good feedback and I think the HTML table that you made does a great job of illustrating how this could work. I'm also a fan of the Gherkin format, and I like how you structured the table to follow the same format.

I agree that running tests on a11ysupport.io is difficult. I put more time into rendering results than collecting results, which shows. You mentioned, "After reading

[2019-07-04 11:23] jfhector commented on #6
@mfairchild365 For example, this happened to me when I read the assertion "The screen reader MUST convey the presence of aria-details". I had never heard a screen reader render `aria-details` before. So I wasn't sure what I should be listening out for in this test. Also, on top of my head, I hesitated not knowing what element should be in focus for `aria-details` to be announced.

Now, looking bac

[2019-07-10 15:57] mcking65 commented on #5
Started testing menubar and experimented with some other ideas on presentation. See attached workbook with new tab for navigation menubar.
[TestSimplificationExploration.xlsx](https://github.com/w3c/aria-at/files/3378375/TestSimplificationExploration.xlsx)

[2019-07-10 17:30] jfhector commented on #6
#### New, slightly different test table prototype

I tried a slightly different version of the [test page I shared last week](https://test-page-jfariaatjuly3.now.sh/).

Here's the [new, alternative test page](https://test-page-jfariaatjuly10.now.sh/).

In this new test table, I've unbundled assertions into separate rows. For example, there are now separate rows for things like:
* The checkbox's ro

[2019-07-24 14:14] mcking65 commented on #5
Made more progress refining naming tests and defining assertions. Also made more friendly column (less technical) column names in spread sheet for menubar. Added more columns for notes about results of tests. See menubar tab in attached workbook.
[TestSimplificationExploration.xlsx](https://github.com/w3c/aria-at/files/3427219/TestSimplificationExploration.xlsx)

[2019-07-24 15:01] mfairchild365 commented on #5
This is looking good @mcking65 - some comments:

* I like the names of the columns and agree that they are more friendly
* I like the addition of the "Success Notes" column. That should help future testers identify past behavior and compare their new results. It also helps whoever is reading the report understand how the screen reader behaves.
* It might be good to consider renaming the "tested at

[2019-07-29 12:49] mfairchild365 commented on #5
One further thought: It might be possible to use this simplified data format for collection purposes, then convert the data to fit a more granular data storage, which would include detailed information such as exactly which attributes and commands failed, etc. This detailed information could then power a more granular and flexible frontend. However, this would require another manual step after ini

[2019-08-07 17:12] mfairchild365 commented on #5
A couple of thoughts. I recently put together a test for a11ysupport.io and tested 10 different AT/browser combinations. The whole process probably took 3 hours. 1 hour to set up the test (write expectations and an HTML example), and 2 hours to test against all of the at/browser combinations. This was with very granular expectations for each feature and support details including output and notes t

[2019-08-14 17:51] jfhector commented on #6
Here's an updated list of all the prototypes I've shared so far:

* [Test page (July 3 prototype)](https://test-page-jfariaatjuly3.now.sh).
* [Test page (July 10 prototype)](https://test-page-jfariaatjuly10.now.sh/). This one splits things like "name, role and value" into three separate assertions. We probably won't do this.
* [Test page (July 31 prototype)](https://src-bgsqvhqidk.now.sh/). This o

[2019-08-19 16:33] Yohta89 commented on #5
For a future reference, I'm attaching assertions for menubar and checkbox as follows.
Two templates are different based on discussions made in each stage.

### **Experimental Assertions**
**Navigation Menubar (Aug. 5th)**
Tested Screen Reader: JAWS, NVDA
[190805_TestSimplificationExploration.xlsx](https://github.com/w3c/aria-at/files/3516740/190805_TestSimplificationExploration.xlsx)

**Checkbox (

[2019-08-19 22:58] spectranaut opened #7 "Wiki page to define a common language for screen reader specific modes and features"
Including things such as reading mode/iterative mode and their names in different screen readers.

[2019-08-19 22:58] spectranaut opened #8 "Investigate open source test management packages"
It's possible an open source management software could be used to provide a web interface for tests instead of rolling our own. I'd like to keep track of a list of requirements while I research some, so please chime!

List of requirements, as I understand them now:
* Presentation of test and assertions should be configurable (such as the discussion in issue: https://github.com/w3c/aria-at/issues/6

[2019-08-20 14:57] mfairchild365 commented on #7
For whatever it's worth, I have a start to this.

* mappings of common commands across screen readers:
  * [HTML representation](https://a11ysupport.io/learn/commands)
  * [JSON representation](https://a11ysupport.io/command_matrix.json)
* all of that is sourced from [ATBrowsers.json](https://github.com/accessibilitysupported/a11ysupport.io/blob/master/data/ATBrowsers.json)

Its a little messy and

[2019-08-21 16:58] mfairchild365 commented on #8
Comments from the call today:

* How customizable is the data collection? Can you customize all the fields and the order in which they are asked?
* Can we collect the output from the screen reader? (would be amazing if this could be automated, via a braille driver or plugin)
* Can we collect the input commands (would also be amazing if this could be automated)
* Can we have branching capabilities

[2019-08-21 18:03] spectranaut commented on #8
@mcking65 and anyone else, has there been a discussion of who will cover the cost of hosting or subscription for project?

[2019-08-21 19:07] mcking65 commented on #8
* How accessible is the UI out of the box? This might be a good path of inquiry for CG members to investigate rather than using Bocoup time.
* If we would like to make accessibility or other improvements to the UI, how difficult will that be?

[2019-08-21 19:12] mcking65 commented on #8
Top choice is open source with a license that we can use for free. Unless there is very significant advantage, we probably do not want to buy a subscription.

We have the challenge that we would like to have a variety of testers, none of whom will be full time on the project for more than a few days or weeks at a time. So, a per user subscription could end up being lots of management overhead.

As

[2019-08-21 19:14] mcking65 commented on #8
Here is one site about open source test management software I started browsing through when we first started discussing this option:

http://www.opensourcetestmanagement.com/

[2019-08-22 00:13] spectranaut commented on #6
I really appreciate you doing all this work, @jfhector, it really brings alive the work that Matt has done in issue #5. But I have an initial thoughts I'd like to try to outline.

If I were performing these tests, as someone with little AT experience, I would prefer instructions that are extremely step-by-step (so I don't think i might be missing a hidden step do to my lack of close familiarity wi

[2019-08-22 02:08] mcking65 commented on #6
@spectranaut, perhaps we should continue to experiment with both granular and less granular approaches. Maybe we can support both.

The more granular approach was what I initially thought we had to do -- 1 assertion for every combination of key command and accessibility attribute. For the checkbox, that results in:
* Read checkbox in reading mode: 18 assertions (that you listed above)
* Operate ch

[2019-08-24 00:27] spectranaut commented on #6
I see, @mcking65 thanks -- this well illustrates the concern you mentioned about the exponential growth of assertions.

We could probably design an interface to record only the failures, instead of having to record every success or failure. Maybe that will cut down on what seems like an overwhelming number of assertions.  I think it is important to note, either way, the assertions are there -- we

[2019-08-25 18:22] corbb commented on #8
One option that comes to mind that’s highlg scriptable and customizable: https://airtable.com/

[2019-08-26 23:34] spectranaut opened #9 "Feedback on ARIA-AT testing system roadmap of the next three months"
I made a [wiki page](https://github.com/w3c/aria-at/wiki/Fall-2019-Research-and-Prototype-Roadmap) to outline the decision that need to be made by October 28th in order to build a successful prototype.

Please feel free to review and comment here, I'll address comments when I'm back from vacation on Sept 3rd.

[2019-08-28 17:06] jfhector commented on #6
@mcking65 and I had a useful conversation about this on the call today. The minutes are here: [https://www.w3.org/2019/08/28-aria-at-minutes.html](https://www.w3.org/2019/08/28-aria-at-minutes.html)

[2019-08-28 17:07] jfhector commented on #5
@mcking65 and I had a useful conversation about this on the call today. The minutes are here: [https://www.w3.org/2019/08/28-aria-at-minutes.html](https://www.w3.org/2019/08/28-aria-at-minutes.html)

[2019-09-04 23:01] spectranaut opened #10 "Feedback on Test Harness and Test vocabulary"
Check out: https://github.com/w3c/aria-at/wiki/Test-Harness-and-Test-vocabulary

Are there other key components of a test that should be added, or explanations that need to be more clear, or better terms for these ideas, or other parts of this project that need terminology?

[2019-09-11 13:03] mfairchild365 commented on #10
Thank you @spectranaut for putting this together. This is wonderful. A few notes:

* Perhaps change 'setup code' to 'test code'. This seems a little clearer to me.  'setup instructions' is fine as is.
* I thought I'd have more feedback, but I think you covered most everything, described everything very well, and have good ideas for how to approach the task.
* Perhaps it would be good to document t

[2019-09-17 01:15] spectranaut commented on #7
Matt started this here: https://github.com/w3c/aria-at/wiki/Screen-Reader-Terminology-Translation

[2019-09-17 02:05] carmacleod commented on #7
I found [@ljwatson's post about screen reader interaction modes](https://tink.uk/understanding-screen-reader-interaction-modes/) helpful (it is very old, but still helps explain the concepts). :)

[2019-10-09 18:35] spectranaut commented on #8
From this issue and [today's meeting](https://www.w3.org/2019/10/09-aria-at-minutes.html) I began a [feature requirements wiki page](https://github.com/w3c/aria-at/wiki/Test-Harness-Feature-Requirements). I think we haven't covered all requirements, feel free to chime in here for more!

[2019-10-13 15:57] mfairchild365 commented on #3
Also, see the [W3C WAI Accessibility Support Database](https://www.w3.org/WAI/accessibility-support/). This was a prototype project from a few years ago.  @spectranaut - you might find this interesting and it might also be worthwhile to investigate as an open-source project for #8.

[2019-10-15 22:39] spectranaut commented on #3
Wow @mfairchild365 thanks for drawing my attention to this. I'm surprised we haven't talked about this, its so similar to what we are discussing to be build.

@mcking65, what do you think of this project? The [W3C WAI Accessibility Support Database](https://www.w3.org/WAI/accessibility-support/) -- it is only a prototype, built back in 2014. The log in option does not seem to work with my w3c cred

[2019-10-15 22:59] jnurthen commented on #3
@nitedog would know more about the https://www.w3.org/WAI/accessibility-support/ prototype.

[2019-10-16 08:32] nitedog commented on #3
What would you like to know @jnurthen? This prototype tool was an attempt back in ~2010-2014 and is currently not actively supported for various reasons. All source code is freely available and we would be happy for it to be reused by the community. The log-in issue is probably due to changes in the internal LDAP configuration. We can revisit re-activating this or another tool in place of this too

[2019-10-16 16:14] mfairchild365 commented on #3
@jnurthen @nitedog Thank you for the details on this. We will reach out to you if we decide to investigate the tool further.

@spectranaut From today's call: we plan to stay focused on the CSS WG tool that we are currently investigating. We can review the W3C WAI Accessibility Support Database once we are done investigating the CSS WG tool (if needed).

[2019-10-16 16:16] mfairchild365 opened #11 "Feedback on Test Harness Feature Requirements"
This is the issue to track feedback on https://github.com/w3c/aria-at/wiki/Test-Harness-Feature-Requirements

[2019-10-16 16:33] mfairchild365 commented on #11
From the 2019-10-16

* We might need a 'partial' value in addition to 'pass' and 'fail' for tests. This might be the result of data aggregation, and a tester will likely not need to mark something as 'partial'. For now, only let testers explicitly mark results as pass or fail. We can revisit later if needed.
* Testers: there may be other 'roles', such as test authors, reviewers, etc. However, for

[2019-10-25 14:06] spectranaut commented on #11
I copied over some of this into the wiki page :)

[2019-10-25 14:14] spectranaut opened #13 "Prototype design"
We have 14 days to build a prototype. The goal of the prototype is to test and iterate on the the test design. The following prototype will not have some [required features](https://github.com/w3c/aria-at/wiki/Test-Harness-Feature-Requirements) of the ultimately desired test harness (such as the ability to log in or show past test results or queue tests based on past test results). It will cover t

[2019-10-27 15:06] jfhector opened #14 "Mapping abstract test instructions to concrete, screen-reader-specific instructions"
This first issue serves as a summary of the thread.

#### Latest testing command files

##### Testing commands for checkbox

* [JAWS checkbox testing commands](https://nov13-testing-commands.now.sh/checkbox/JAWS)
* [NVDA checkbox testing commands](https://nov13-testing-commands.now.sh/checkbox/NVDA)
* [VoiceOver checkbox testing commands](https://nov13-testing-commands.now.sh/checkbox/VoiceOver)

[2019-10-27 15:06] jfhector commented on #14
I've taken a stab at creating a document that maps abstract test instructions to screen-reader-specific concrete instructions, starting with the Checkbox example.

Here is the document in Excel format:
[Checkbox testing commands.xlsx](https://github.com/w3c/aria-at/files/3775922/Checkbox.testing.commands.xlsx)

#### What the document does

The document gives a list of concrete, screen-reader-speci

[2019-10-29 17:05] mfairchild365 commented on #14
Thank you so much for this work and detailed notes! Great work, and great questions. Let's discuss on the next call.

[2019-10-30 19:01] spectranaut opened #15 "Initial design for displaying tests!"
Hey ya'll!

Please provide feedback on the "displaying" of the following tests. To make it clear what text the test harness is providing and what is supplied via the API, I added `<em>` tags to all of the text that is specific to the tests (so provided by either the test author or anything AT specific).

Here are three different "tests":
[reading checkbox](https://spectranaut.github.io/aria-at/tes

[2019-11-01 16:50] Yohta89 commented on #14
JF, thank you for this comprehensive work!
I'm pretty sure it takes a lot of time and I agree with the next step you brought up.

##### JAWS-related questions
2. In [Matt's 'Test Simplification Exploration' spreadsheet from early July](https://github.com/w3c/aria-at/issues/5#issuecomment-510122453), `Up/Down` was also listed as a command for reading a checkbox group in Interaction mode. (See cell

[2019-11-05 15:28] mfairchild365 commented on #14
Questions unrelated to any screen reader
1. My opinion is yes, we can easily list and test with too many commands. I don't think it is realistic to test every single command for all screen readers. IMO, we should strive to test a representative sample of commands (perhaps those that are most commonly used). As the project evolves, there may be more opportunity to test more commands, but I'd submit

[2019-11-05 19:46] spectranaut opened #16 "Discuss assertions: general or specific"
This is continuation of the discussion in this comment: https://github.com/w3c/aria-at/pull/12#discussion_r338218065

@mfairchild365 wrote:

When displaying the test to a human tester, we want the fail and success cases to be extremely clear and leave no need for interpretation. So as the tests are designed now, the "assertions" are not generic because they describe exactly how the AT should respo

[2019-11-05 20:08] jfhector commented on #14
Thanks @Yohta89 and @mfairchild365.

Reading your comments I realised that I had confused VoiceOver's QuickNav with 'Control Option Lock'. The link you shared Michael was useful.

I do support the idea of testing with a smaller set of commands, at least to start with.

Apologies for missing last week's call. I've just started work with a new client and a meeting ran over. I'm only about 60% confid

[2019-11-05 20:55] jfhector commented on #14
Does the format of the document allow for programmatic parsing of the commands? (see Excel file attached in the second comment)

I'm imagining that the way that commands are listed might make them hard for a script to parse:
* There are several commands per cell, each preceded by a bullet point
* Within a cell, different commands are grouped under pseudo-headings, such as "Navigate to the checkbox

[2019-11-08 20:04] Yohta89 commented on #15
Hi all,

I went through the initial design @spectranaut had updated, pretending I'm a tester and summarized my thoughts as follows. For each test, I categorized my thoughts into four groups.
- 1.Overall design: Presentational aspect of the test.
- 2.Instruction: Thoughts on Instruction and Success Criteria
- 3.Record Results: Thoughts on Record Results
- 4.Results: Thoughts on screen after submitt

[2019-11-13 00:27] jfhector commented on #14
Thanks all for your feedback last week.

#### Updates since last week

Here's what I've done since last week:
* Updated the checkbox testing commands in line with your feedback
* Replaced the Excel document with an HTML document for better accessibility
* Added testing commands for menubar
  * I haven't double-checked the testing commends for menubar yet. I've just quickly copied and pasted the [t

[2019-11-13 13:42] mfairchild365 opened #18 "Create documentation for how test cases will be authored for the prototype"
Question from Jon Gunderson: How are the test cases authored for the prototype?

[2019-11-13 16:48] spectranaut commented on #18
Perfect timing I just published these instructions! https://github.com/w3c/aria-at/wiki/How-to-contribute-tests

[2019-11-13 19:28] spectranaut commented on #15
Response to @Yohta89's experience:

### Clear changes

Bugs to fix:
- (read 1.1) Window should not disappear everytime you enter information in to the form.
- (read 2.4) The checkbox should be checked every time you reopen the window from the second behavior verification.

Easy things to change:
- (read 1.4) Make it clear the speech output is required for every key command (add word "required" som

[2019-11-13 23:37] jfhector commented on #14
I've now double-checked the testing commands with NVDA and JAWS and made some small updates to the documents that the links above point to.

[2019-11-14 01:00] jfhector commented on #15
I've just reviewed the latest updates to the prototype. I think that it's great work, well done! And I also love that @Yohta89 has actually done a user test and videoed it. I want to work with more people like you Yohta!

I've added some thoughts on the issues highlighted by @Yohta89, and also on other issues that I've found.

#### Issues raised by Yohta

##### Regarding point 1.2 in Yohta's comme

[2019-11-14 20:51] spectranaut commented on #15
Thanks @jfhector for the review! I'll get to it soon.

@Yohta89 I can't replicate the bug where the test page closes every time you enter data into the form.. it looks like you are using Chrome, what is the exact version?

[2019-11-14 20:54] mfairchild365 commented on #15
I agree with all of your thoughts, @jfhector. We might be able to redesign the table as you have suggested. Additionally, it might be good to make the first column a row header, would (hopefully) provide a better group label for the series of radio buttons in the row.

What do you think about moving the radio buttons that currently serve as column headers outside of the table entirely? Perhaps jus

[2019-11-15 00:41] jfhector commented on #15
I've just done a very quick interaction prototype for the alternative table structure I had in mind. I just wanted to see whether it'd work, and how to best make it work.

I think that it does work, but let me know what you think, and how we might improve this (or the other table design) further. We might want to do some very quick usability testing to settle on a design.

#### Where you can see t

[2019-11-15 18:35] Yohta89 commented on #15
@spectranaut
So you're trying to replicate the bug I experienced from '_1.1 Test window will disappear every time a tester tried to type in information on a form, and I wish I could keep this open. (6:23)_' ,right?

I'm using Google Chrome Version 78.0.3904.97 (Official Build) (64-bit). And it seems like I'm experiencing the same issue in Firefox (70.0.1) as well.

[2019-11-18 18:48] mcking65 commented on #15
I feel there is confusion around the concept of having shortcuts for marking output as correct. I think the table header or footer concept does not reflect real life.

In real life, it will often be the case that all output is correct. But, if you are testing 3 things, e.g., role, name, and state, it is not likely that all 3 will fail. And, if they do, they could fail in different ways, i.e., one

[2019-11-18 21:06] spectranaut commented on #15
@Yohta89 I watched your video recording (awesome, so detailed!) and now I understand what you mean. It's true the window "disappears" but it's just behind your other window (as you know, because you navigate back to it). I assume testers will have to find their own ergonomic way of navigating between the test page window and the test results window. It might be helpful to have them side by side, e

[2019-11-18 21:16] spectranaut commented on #15
Thanks for the thoughtful explorations of alternative "shortcut" radio buttons, @mcking65 and @jfhector ! I'll incorporate a few of your design choices, @jfhector, but I'll try putting the radio button outside of the table per Matt's suggestion. I'd appreciate more feedback on how to make this pretty to sited users once everything is in place.

@mcking65 -- what should be the accessible name for t

[2019-11-18 22:18] spectranaut commented on #15
another question for @mcking65: you asked for a link that will skip the table and send you to the next command to record results for.  Can I implement this as a button that moves focus to the text input for the next key command, essentially skipping the table?

[2019-11-20 01:20] mcking65 commented on #15
@spectranaut asks:

As we discussed yesterday, the buttons we need for each assertion are:
1. Correct output
2. No output
3. Incorrect output

It might be nice for screen reader users to hear the assertion in the accessible name. One way to include the assertion in the name might be like this:

For correct output:
* Correct output for The role 'checkbox' is spoken
* Correct output for The state of

[2019-11-20 01:23] mcking65 commented on #15
@spectranaut asks:

Yes, except that Since it is moving focus to another place on the same page, it should be a link.

[2019-11-20 01:28] spectranaut commented on #15
Hey @jfhector and @mcking65 I add form validations and put the "all correct/all incomplete" radio buttons above the table. @jfhector in particular can you take a look because I am DEFINATELY not a designer and could use any opinions you have on how to make it better :)

I only am just seeing @mcking65's recent comments so I'll get to them tomorrow.

[2019-11-20 06:55] mcking65 commented on #15
I'm discovering a lot as I attempt to craft tests for combobox.

Most relevant to this issue is the fact that there are other types of results that we need to capture. Some of which I am aware are:
1. Did a mode switch occur that should have occured?
2. Did a mode switch occur that should not have occured?
3. Output was correct per the assertion, but other things were announced that were problemat

[2019-11-20 12:14] mfairchild365 commented on #15
Good finds, @mcking65. Some thoughts.

* For automatic mode switching, a 4th option could be to make it a conditional assertion so that in only applies to screen readers (or AT) that support automatic mode switching. It may be possible to even define which AT the assertion applies to programmatically so that the tester doesn't have to guess.
* Automatic mode switching makes me wonder if we should

[2019-11-20 20:07] spectranaut commented on #15
In today CG meeting we agreed with @mfairchild365 about having a list of failures.

The list we have so far is:
- unexpected reading cursor jump
- screen reader crashed
- browser crashed
- screen reader includes excessive and/or irrelevant information after key command

@mcking65 can you tell me all the key commands for checkbox (as they currently exist in `resources/at-commands.mjs` that will tri

[2019-11-20 21:36] spectranaut commented on #14
I've been thinking about the reading the checkbox and checkbox grouping cases. I think the test harness needs to be redesigned given what JF has revealed, which is that there are two categories of commands in each of these cases -- where the categories are "reading the checkbox by navigating to it" and "reading the checkbox after the cursor is already on it".

Right now it is only possible to have

[2019-11-22 18:05] spectranaut commented on #15
You can see an example of an additional assertion for the screen reading changing modes after "TAB" in [read-checkbox.html](https://spectranaut.github.io/aria-at/tests/checkbox/read-checkbox.html) test file now.

[2019-11-22 18:37] spectranaut opened #19 "How to summarize and display test results?"
Hey all! This is a somewhat urgent issue because I need to get something in by Wednesday the 27th, so hoping spend all of Tuesday the 26th at the latest implementing a summary page. Each test has a lot of information recorded in it, and I am not sure which information is the most relevant to show. I'm hoping to get feedback in this issue to simply make a first draft of a test result summary.

Here

[2019-11-22 18:39] spectranaut commented on #19
@mcking65 and @jfhector and @mfairchild365 and @Yohta89, can you take a look at this issue? :)

[2019-11-22 20:37] mcking65 commented on #15
@mfairchild365 wrote:

Yap, actually assertions need to all have a must, should, or nice to have categorization. That is part of our original plan. I've added that to my combobox testing plan.

BTW, mode switching is not a blocker for people who know how to manually control mode. Unfortunately, that is not the typical user. So, for some people it can be a blocker when mode switches don't work righ

[2019-11-22 20:48] mcking65 commented on #15
@spectranaut wrote:

Here is how I would refine the wording and content of this list:

* Output is excessively verbose, e.g., includes significant amounts of redundant or irrelevant speech
* Reading cursor position changed in an unexpected manner
* Screen reader became extremely sluggish
* Screen reader crashed
* Browser crashed
* Other

[2019-11-22 20:49] mcking65 commented on #15
@spectranaut wrote:

Mode switching does not happen for checkboxes. However, it does for comboboxes, and I have included it in the test plan I am about to post.

[2019-11-22 21:08] spectranaut opened #20 "How to encode and display AT-specific instructions?"
There is a lot of back ground in issues #14 and some in #15.

Currently, as a proof of concept, I added the AT-specifc commands for checkbox into a file call [tests/resources/at-commands.js](https://github.com/w3c/aria-at/blob/prototype/tests/resources/at-commands.mjs). The actual encoding is not super important right now (as this is a prototype), the goal is mostly to get feedback on the API.

`g

[2019-11-22 21:11] mcking65 commented on #15
I have written 9 tests for combobox so far, but only in Excel. I will export each test to a separate CSV file, and export a command list in CSV format aswell and put it in the prototype branch in the combobox-autocomplete-both directory.

I have no idea how many tests there will be for combobox. Perhaps in the neighborhood of 25, but it could be many more.

Going through  this process, I am realiz

[2019-11-22 22:16] spectranaut commented on #20
On question 2 about, it looks like Matt just split these into two different tests in this comment: https://github.com/w3c/aria-at/issues/15#issuecomment-557695986

[2019-11-22 23:22] Yohta89 commented on #19
I liked the overall structure of the result page! I'm assuming the primary purpose of the result page is to facilitate stakeholders to understand the deficiencies of each screen reader based on the results. i.e. Help them be on the same page to have a conversation about what's wrong with current experiences. With those in mind, here are some thoughts.

-In case of a more complicated and longer tes

[2019-11-23 00:36] mfairchild365 commented on #19
I think it is certainly a good start, and I agree with @Yohta89's comments. Additionally, it would be good to give the tables row and column headers.

If I'm understanding this correctly, we should have a summary of support at the test suite level, where the user could dive into the summaries for each test. Side note, what are we calling a group of related tests? A test plan? A test suite?

I can'

[2019-11-25 19:54] spectranaut opened #23 "Feedback on runner prototype"
I made a prototype of the "runner" -- the goal of the runner was to be as simple as the CSS WG's test runner and to provide us the ability to test "performing a test run". The working group should eventually build something with designers, user testing and more features :) Tomorrow I'll be working on the features to show summary's of past test runs and download JSON files with test rests.

Soon I'

[2019-11-25 20:39] isaacdurazo commented on #19
@spectranaut I was taking a look at the summary page and was wondering how we could simplify it.

I was thinking that, ultimately, what we want to get out of it is a picture of *what's failing*, so why display what is passing?

Showing only that's failing, in addition to the summary score that @Yohta89 is suggesting, could make parsing the summary page information easier.

What do you all think?

[2019-11-26 00:47] mcking65 commented on #19
What is passing is as important with these tests as what passes.

[2019-11-26 04:46] mcking65 commented on #19
I have a hard time parsing this because of all the words, headings, tables ... Feels difficult to get a picture of what happened during the testing.

Here is my suggestion.

Put the entire report into a single table with the following columns:
1. Task
2. Must-Have Pass/Fail
3. Should-Have Pass/Fail
4. Nice-Have Pass/Fail
5. Unexpected Behavior Count

At the bottom there are two summary rows:
1. To

[2019-11-26 06:12] mcking65 commented on #23
Valerie, looking great!!

Here are 3 simple ideas for improvement.

First, Simplify the names of the disclosure buttons. Instead of:

Make the name:

Secondly, it would be nice to have a "select all" checkbox that is a tri-state at the top of the list for a pattern.
This would make it easy to check all, uncheck all, or have a partially selected state for that pattern.

Finally, change the name of

[2019-11-26 08:15] mcking65 commented on #15
@spectranaut, Here are some things that we need to address in the harness. I will start with some easy stuff to clean up wording and make it easier to understand.

It would help with accessibility to have a title tag in the tests., e.g.:

[code]

It feels like clutter to have an H1 with "ARIA-AT Test Runner". I am assuming this is a sort of substitute for branding to tell the user that this page i

[2019-11-26 14:05] mfairchild365 commented on #19
@mcking65 I like the direction this is going. Clarification: should "Must-Have Pass/Fail" be two columns? 1 for pass and 1 for fail? I'm struggling to visualize what cell data under that single column would look like, maybe "x/y" where x is the number of passing commands and y is the number of failing commands?

[2019-11-26 16:32] spectranaut commented on #20
I changed a lot of thing so these questions are no longer relevant!

[2019-11-26 16:32] #20 closed

[2019-11-26 17:22] mfairchild365 commented on #23
I agree! It's looking great!

Some other thoughts:

1. how do I define my JAWS version
2. how do I define my OS version (potentially relevant if a11y APIs change)
3. what if I want to test in one browser and record results in another? Can I customize my browser and version number?

[2019-11-27 05:57] mcking65 commented on #19
@mfairchild365 commented:

Yes, 18/2 would mean 18 pass and 2 fail. This is a way to 1) give more space for column 1 and 2) make it easier to get more info quickly by reading down a single column. As a screen reader user, I can get a lot more info with fewer key strokes this way. the number of passes and number of fails are numbers the user will often want to consume simultaneously when skimming.

[2019-11-27 05:59] mcking65 commented on #23
@mfairchild365 commented:

Good catch; we need that.

Worth capturing. Not so important for the prototype. More important when we build a prod system.

Also a good idea, but not so important for a prototype.

[2019-11-27 08:55] mcking65 commented on #15
@spectranaut, Per our discussion about labeling radios in the table, I labeled them in the first two rows of the table in this file [table.html.txt](https://github.com/w3c/aria-at/files/3895904/table.html.txt).

The two rows use two different ways of including the words "for assertion" in the middle of the label. Use which ever you prefer. The first relies on a class (off-screen) that I did not in

[2019-12-04 17:47] mfairchild365 opened #25 "Feedback/Notes on prototype from MF"
This issue will continue to be updated with feedback and notes on the prototype. I'll edit this paragraph when I'm done with my review.

Rough high-level time estimates:
1. for an expert to run 1 test (on average): ?
2. for an expert to author 1 test (on average): ?
3. for an expert to author all of the tests for a single screen reader for a single APG example: ?

Questions related to software des

[2019-12-09 09:53] mcking65 commented on #25
Michael, we could discuss these questions on Wednesday. The prototype addresses some, but not all, of them.

[2019-12-09 14:25] mfairchild365 commented on #25
@mcking65 - sure! I haven't had time to finish my review yet, and many of the questions are subject to change until I do. Nevertheless, we can discuss what I have so far.

[2020-01-22 20:44] mfairchild365 opened #34 "Create menubar editor test in prototype"
Assigned to Matt until it can be assigned to Jon and Yohta

[2020-01-22 20:45] mfairchild365 opened #35 "Give CG members access to github"

[2020-01-22 20:51] mfairchild365 opened #36 "Review and test the checkbox example for the prototype"

[2020-01-23 04:19] mcking65 opened #37 "Develop report for reviewing test assertions, instructions, and meta data"
After the tests for an APG pattern are written in HTML and JavaScript in the WPT format, we need a way for people to easily read through the tests. Without a report of what is in the HTML files that hold the WPT format, you would have to read the HTML source or run the tests, neither of which is a practical solution for reviewing the test plan for a pattern or validating whether the encoded expect

[2020-01-23 04:21] mcking65 commented on #37
Here is a proposal for the format of the report ...

# Tests for pattern_name

* Total number of tests: N

## Test test_number: Test Title

* Task:
* Last revised:
* Applies to:

### name_of_assistive_tech_1

#### Instructions

1. Instruction 1
2. Instruction 2
3. ...
4. specific_user_instruction using the following commands:
    * Key command 1
    * key command 2
    * ...

#### Asserted expecta

[2020-01-23 04:24] mcking65 commented on #37
Here's an example that uses the current partially written combobox test plan information. It currently has only 9 tests and they are so far only written for JAWS. This shows information for 3 of the tests.

# Tests for Combobox

* Total number of tests: 9

## Test 1: Navigating to empty, editable combobox conveys role, name, editability, and state

* Task: activate combobox
* Last revised: Decembe

[2020-01-25 19:29] mfairchild365 commented on #36
@mcking65 - I started to review the checkbox tests and have the following notes.

1. The exact path of execution is not always clear. For example, the test "Reading checked checkbox in interaction mode" has two instructions. The first is to put the screen reader into forms mode. The second is to read the checkbox with the supplied commands. This makes sense, however, in order to create consistent,

[2020-01-29 17:48] Yohta89 commented on #34
Progress as of 1/29

**[Progress]**
1. Made [the draft list of test assertions]([200129_Menubar_test writing.xlsx](https://github.com/w3c/aria-at/files/4129631/200129_Menubar_test.writing.xlsx)) on a spreadsheet, based on Valerie's checkbox example.
To be discussed with Jon to make sure if I'm covering everything later this week.

2. Jon made a[ branch for testing.](https://github.com/w3c/aria-at/

[2020-01-29 20:19] mfairchild365 opened #38 "Consider displaying command titles in addition to keystrokes"
For example, what does what does "C / Shift+C" do?

[2020-01-29 20:27] mfairchild365 commented on #36
I'll make a PR to add missing navigation instructions

[2020-01-29 20:44] mfairchild365 commented on #36
Also, virtual is misspelled

[2020-01-29 20:47] mfairchild365 commented on #36
also change "spoken" to "conveyed"

[2020-01-30 19:50] Yohta89 commented on #34
@mcking65
We have taken the tests “activate switches mode” and “navigate switches mode” from the combobox tests.

When rewriting tests for menubar editor are we “activating” the menubar, or are we activating a menuitem in the menubar.

The menubar itself is not interactive, but its child menuitems are.

When a JAWS and NVDA screen reader are in “read” mode  their  virtual cursor seems to navigatio

[2020-01-30 22:35] mfairchild365 commented on #36
Update: I submitted two pull requests related to the issues outlined here.

However, I also noticed that the number of steps is [hardcoded in the test harness](https://github.com/w3c/aria-at/blob/master/tests/resources/aria-at-harness.mjs#L184).

I think it would still be good to add an instruction like "click the button to open the test page and wait for the first checkbox to automatically receiv

[2020-02-05 16:57] Yohta89 commented on #34
Progress as of 2/5

[Progress]

Mostly made [the draft list of test assertions](200129_Menubar_test writing.xlsx) lists of assertions and key commands combinations on [the spreadsheet](https://uofi.box.com/s/pgfnvg0f86iprt42p084k3n8obs3xu5a).

To be tested on the branch Jon created later this week and shooting to finish it by the end of next week.

[Notes and clarification at the meeting]
[Activat

[2020-02-06 14:35] zcorpan opened #41 "Document our Working Mode"
I wrote a document that we could use as a starting point for discussion for how we work and handle disagreements in ARIA-AT CG. Hopefully, there won't be any disagreements, and we'll sail smoothly to our end goal, but if that doesn't happen I think it can be good to have an agreed upon framework.

This is a Google Doc for now, which is public and anyone can comment and make suggestions. For archiv

[2020-02-06 14:50] zcorpan opened #42 "Document our Test Authorship and Test Runner Development Plan"
Myself and @spectranaut and others at Bocoup, in part based on information from @mcking65 , have put together a document that could be used as a starting point for a plan for test authorship and test runner development.

This is a Google Doc for now, which is public and anyone can comment and make suggestions. For archive purposes, I've sent [an HTML copy to www-archive@w3.org](https://lists.w3.or

[2020-02-10 16:14] spectranaut commented on #37
Hi @mcking65 -- I have added review pages to the runner hosted here, check it out the [review for the tests for checkbox](https://w3c.github.io/aria-at/review/checkbox.html) and let me know if things should change!

The page for combobox is also up but those tests need to be fixed, which I'll do today. We change the test format near the end of December and the test review script also helped me ide

[2020-02-10 16:18] spectranaut commented on #37
@mfairchild365 you might want to look at the review page for the checkbox tests above, is it useful/are the modifications that will make it more useful?

[2020-02-10 16:27] spectranaut commented on #37
Also I added a section to the [Local Development for Runner and Tests](https://github.com/w3c/aria-at/wiki/Local-Development-for-Runner-and-Tests#test-review) wiki page to explain how to run the script.

[2020-02-10 17:28] spectranaut opened #47 "Update link to editors draft for the design patterns in tests"

[2020-02-11 14:26] zcorpan opened #52 "Create tests for APG design pattern: checkbox"
APG design pattern: https://w3c.github.io/aria-practices/#checkbox

(This might be complete already, but filing this so we have an issue for each pattern.)

[2020-02-11 14:27] zcorpan opened #53 "Create tests for APG example: Editable Combobox With Both List and Inline Autocomplete"
APG design pattern: https://w3c.github.io/aria-practices/#combobox

- [x] Test committed: https://w3c.github.io/aria-at/review/combobox-autocomplete-both.html
- Test reviewed:
   - [x] Review of test description
   - [x] JAWS commands
   - [x] NVDA commands
   - [x] VoiceOver commands
- [Test results](https://w3c.github.io/aria-at/results/)
  - [ ] JAWS/Chrome
  - [ ] JAWS/Firefox
  - [ ] NVDA/Chr

[2020-02-11 14:28] zcorpan opened #54 "Create tests for APG design pattern: menubar"
APG design pattern: https://w3c.github.io/aria-practices/#menu

- [ ] Test committed:
- Test reviewed:
   - [x] Review of test description
   - [x] JAWS commands
   - [x] NVDA commands
   - [x] VoiceOver commands
- [Test results](https://w3c.github.io/aria-at/results/)
  - [ ] JAWS/Chrome
  - [ ] JAWS/Firefox
  - [ ] NVDA/Chrome
  - [ ] NVDA/Firefox
  - [ ] Mac VoiceOver/Chrome
  - [ ] Mac VoiceOv

[2020-02-11 14:29] zcorpan opened #55 "Create tests for APG design pattern: grid"
APG design pattern: https://w3c.github.io/aria-practices/#grid

[2020-02-11 14:47] zcorpan opened #56 "Create tests for native widgets in HTML"
I think it would be useful to consider testing the behavior of native widgets in HTML, in addition to APG design patterns. It usually is easier for web developers to use a standard element and get accessibility for free, compared to rolling their own widgets with ARIA. There are also some widgets in HTML that are not in APG (e.g. color well).

For example:

* `<input type=checkbox>` (checkbox)
* `

[2020-02-11 14:56] mfairchild365 commented on #56
I think this would be a great long term goal for this group/project, however it is currently out of scope. I’ve been tackling this aspect over at a11ysupport.io - happy to get feedback on that.

[2020-02-11 16:16] zcorpan opened #57 "GitHub management - labels, projects, milestones"
Looking over the issues we have open currently, I can group them into these labels:

* `tests`
* `process`
* `documentation`
* `test-runner`
* `test-report`
* `feedback`
* `prototype-test-runner`
* `revisit later` (maybe these should be closed, until revisited)
* `Agenda+` for adding something to the teleconference agenda
* `Agenda+ F2F` for adding something to the next face-to-face meeting agenda

[2020-02-11 17:27] spectranaut opened #58 "verifyATBehavior should accept only one test definition"
Originally verifyATBehavior could be called multiple times with different test. Additionally, `mode` accepted a list of screen reader modes. We should change this to:
- [ ] only allowing on called to verifyATBehavior
- [ ] mode should accept a string not a list of strings (only one mode per test)

[2020-02-12 16:27] mcking65 commented on #56
Yes, super useful, but currently out of scope.

We want every APG pattern to have a "as little ARIA as possible" version in the future. Then, that will naturally bring this into scope.

But, that is beyond APG scope at this time. Right now, W3C doesn't have a single working group with that kind of scope. We force people to wander all over the place and consult a massive list of resources to get a

[2020-02-12 19:29] Yohta89 commented on #34
Progress as of 2/12

**[Progress]**
[Menubar test writing spreadsheet](https://uofi.box.com/s/fhon8xdu3vz9ush68aznwt5yer0lajd2)
- Add "Applies to" column.
- Change verb to present tense
- In the command sheet, if the multiple keystrokes are same, connect them with "or".   e.g. INS_TAB or INS_UP
- In the command sheet, Added "Roles/Property being tested" column as a key to help sheet
- In the comma

[2020-02-12 21:00] spectranaut commented on #37
Requests for changes from CG meeting:
- [ ] Documentation of the set up script
- [ ] A way to filter for only JAWS or NVDA or VoiceOver

[2020-02-12 21:17] zcorpan opened #62 "Documentation: clarify how tests try to isolate a single command"
From the telecon today I think there was some confusion about how the tests will work. @spectranaut said that the tests try to automatically put the test page in a particular state, and the user is then instructed to do two things:

1. put the screen reader in a particular mode
2. execute a command to test

and then compare the actual result with the expected result

I think we should clarify this

[2020-02-13 01:43] mfairchild365 opened #63 "Decide if we will test single-key navigation in VoiceOver's Quick Nav mode"
This came up on the call today, and I don't want to lose track of the conversation.

Question: Should we test the single-key navigation in VoiceOver's Quick Nav Mode?

Notes:

- I checked our tests that are in the prototype, and we do not currently test this.
- VoiceOver does not have single-key navigation turned on by default. It is a setting that users can enable. To test:
  1. Reset to default

[2020-02-13 02:21] mfairchild365 commented on #37
I noticed that the assertions are repeated for each relevant AT for each test. Should they only be listed once for each test?

[2020-02-13 02:27] mfairchild365 commented on #52
I started my review and am making comments on GitHub. I'll make a PR with changes. Notice the section titled 'questions to ask during the review'. Might be good to add a similar section to our review output to help facilitate consistent reviews?

[2020-02-13 22:10] spectranaut commented on #37
@mfairchild365, @mcking65 originally asked for the assertions to be listed under every AT, occasionally the asserts are different for different AT, but these is only when the assertion is not related to the speech output of the AT. For example, see [this file](https://github.com/w3c/aria-at/blob/master/tests/combobox-autocomplete-both/navigate-switches-mode.html) that tests mode switching in a com

[2020-02-14 02:26] mfairchild365 commented on #52
@mcking65 - I noticed that there are some commands that require Smart Nav is on in JAWS. As written, I think this may confuse testers, since Smart Nav is off in JAWS by default (but can be toggled via `inert+x`) and we do not currently describe how to turn it on or off.

A few options:

1. Describe how to toggle Smart Nav mode
2. Write separate tests for Smart Nav since enabling it requires a prec

[2020-02-14 02:32] mfairchild365 commented on #52
Another question: There are assertions for `The role 'group' is conveyed`. I think this is worded well, however, most screen readers imply the group role when jumping to a form control within the group by only announcing the name of the group, followed by the rest of the information about the control. The presence of that additional name also conveys the group role.

I think there is an opportunit

[2020-02-19 19:53] spectranaut opened #67 "Move AT task to commands mappings to design pattern folders"
Right now, all of the data to map tasks to a list of specific AT commands is in one folder, `tests/resources/at-commands`. We need to re-architect this so that this data is in the design pattern's folder.

[2020-02-19 20:29] spectranaut opened #68 "Tests should display "must have", "should have" and "nice to have" instead of priority numbers"

[2020-02-19 20:53] mfairchild365 commented on #52
TODO: simplify the change in state assertions and improve associated instructions.

[2020-02-20 17:59] #58 closed

[2020-02-21 16:46] mcking65 commented on #53
Attaching a complete draft of tests in a spreadsheet. The tests in this spreadsheet replace all the tests that are already in wpt format.
[Combobox-autocomplete-both.xlsx](https://github.com/w3c/aria-at/files/4237084/Combobox-autocomplete-both.xlsx)

[2020-02-21 16:50] mcking65 commented on #53
While there is one combobox design pattern, we currently have 4 examples with different features. We will soon have a 5th. We probably want a separate issue for each example. I'm going to change the title of this issue to match the name of the combobox example we are working on now for the production system design phase. We will be testing only one combobox example during the design phase.

[2020-02-22 01:53] spectranaut commented on #67
Fixed in https://github.com/w3c/aria-at/pull/73!

[2020-02-22 01:53] #67 closed

[2020-02-22 01:54] #47 closed

[2020-02-22 01:55] spectranaut commented on #37
Things to still do:
- [ ] documentation of the set up script
- [ ] update the links to have friendly link text
- [ ] use must have/should have/nice to have language instead of priority numbers

[2020-02-22 01:55] spectranaut opened #74 "setupScripts not working for menubar edit tests"

[2020-02-23 20:26] mfairchild365 commented on #54
To clarify, is https://w3c.github.io/aria-at/review/menubar-editor.html up to date and ready to review?

If so, some initial feedback:

1. I'm glad to see this taking shape!
2. A lot of instructions list duplicate commands. "Enter, Space, Enter, Space". Is this intentional?
3. VoiceOver often seems to have an empty step 1 under instructions.
4. VoiceOver and NVDA seem to be missing commands for mo

[2020-02-24 15:31] zcorpan commented on #41
@mcking65 @mfairchild365 can you review this?

[2020-02-24 15:32] zcorpan commented on #42
@mcking65 @mfairchild365 can you review this?

[2020-02-24 15:56] spectranaut commented on #54
Yes its up to date!

About the technical bugs: There is a PR open that will address the bug that made (2 - duplicate keys), and I can look into (5 - character rendering) today or tomorrow and plan to fix (7 - setup script description) today or tomorrow.

About the key commands: I think Jon and Yohta just didn't supply commands for VoiceOver and NVDA. Who can do that?

[2020-02-24 21:47] evmiguel opened #75 "Solidify process on generating commands.json and test files"
After reviewing #73, the following questions have come up:

- Should `commands.json` that have been generated via script be committed?
- What should the process be for generating test files? And should those files be committed?

If this repo will be moving to a pattern where files are generated, I envision a test runner or automation invoking the creation of such files.

[2020-02-24 22:59] mfairchild365 commented on #54
Thank you @spectranaut - I can do it, but not before Wed.

[2020-02-24 23:01] mfairchild365 commented on #53
I see this at https://w3c.github.io/aria-at/review/combobox-autocomplete-both.html - is it ready for a review?

[2020-02-24 23:05] mfairchild365 commented on #42
Yep, I'll add comments in the doc. Might be good to discuss on the CG call too.

[2020-02-24 23:05] mfairchild365 commented on #41
Yep, I'll add comments in the doc. Might be good to discuss on the CG call too.

[2020-02-25 01:00] mcking65 commented on #53
@mfairchild365

Nop, not updated from the spreadsheet yet.

Related thought ...

@spectranaut, do we have a way of specifying the sequence of tests in the plan for a pattern? At least for me, when writing and reading test plans, and even when reading results, the sequence really matters. In my spreadsheet, I tried to follow a logical sequence of operations and states that could roughly map to a fl

[2020-02-25 01:37] spectranaut opened #77 "Questions related to "setup test page""
### Update on changes

In PR https://github.com/w3c/aria-at/pull/76, I added the new key `setup_script_description` to `verifyATBehavior` and I added a new column to the test spreadsheet @jongund and @yohta89 designed to record this string while test writing. I did this because Matt included the description of the script in a column (where at Jon and Yohta left it in a comment in the setupScript i

[2020-02-25 06:30] mcking65 commented on #52
### Review of [Checkbox Tests](https://w3c.github.io/aria-at/review/checkbox.html)

This is actually looking very good. I think we have the right tests and the right assertions. Nearly all of this feedback is editorial. I think we need to discuss the wording of only one assertion related to checkbox grouping.

#### Editorial issues in multiple tests

**Issue 1:** The instructions say:

Since this

[2020-02-25 13:39] mfairchild365 commented on #52
Thank you, @mcking65

1. re issue 1: I agree.
2. re issue 2: I agree.
3. re issue 3: From my experience, the more explicit and the less abstract test instructions are, there will be less room for interpretation and more consistency in results. So, I think having instructions about turning QuickNav off is good.
4. I agree that we don't need to test commands to read all content.
5. I hesitate to rem

[2020-02-25 14:28] mfairchild365 commented on #77
Yes to both questions, and I like your answer to question 1.

[2020-02-25 15:44] #68 closed

[2020-02-25 15:45] spectranaut commented on #37
@mcking65 I think  I've done everything that has been requested by the CG, if you want to take another look: https://w3c.github.io/aria-at/review/menubar-editor.html

[2020-02-25 16:51] Yohta89 commented on #54
We couldn't supply the key commands last week.

I'm working on commands for VoiceOver and NVDA, which will be finished this afternoon on the spreadsheet this afternoon.  Would you be able to encode them for review if I upload it in .xlsx format @spectranaut @mfairchild365 ?

Otherwise, I'll touch base with Jon and encode them once he's back next week.

[2020-02-25 18:59] spectranaut commented on #53
I had to modify the spreadsheet you uploaded to work with Jon's script, here is the modified file:
[tests.xlsx](https://github.com/w3c/aria-at/files/4251641/tests.xlsx)

Right now, we don't have a way to sequence tests. We should make a backlog test to consider it!

[2020-02-25 19:37] spectranaut commented on #53
Here is the test plan for review: https://w3c.github.io/aria-at/review/combobox-autocomplete-both.html

Things that still need to be done for these tests:
- [ ] setup scripts written
- [ ] some key commands aren't found, i think this is a data format problem

[2020-02-25 22:28] Yohta89 commented on #53
Thanks spectranaut & Matt!

Made a high-level review for combobox, mainly from JAWS.
### Review from test settings and consistency
I observed several concerns by comparing tests over multiple SR and the other widgets (menubar and checkbox). These are not specifically for combobox, but leave notes here for the record.

**1-1.Test setting**
- NVDA key used in Tester instruction is not clear, such as

[2020-02-25 22:41] Yohta89 commented on #77
To me tests became much clearer and less room for interpretation thanks to this!

[2020-02-26 17:46] spectranaut commented on #54
@Yohta89 if you upload a spreadsheet I can add them. Can you reupload the spreadsheet that is already in the repository, so it's in the same format?

[2020-02-26 18:09] Yohta89 commented on #52
Aside from conversations already made between Matt and Michael, here are a few thoughts and findings from my review.

### Review from test settings

- I wasn't quite sure the idea of DOM is clear for SR users. Is it something we can assume most SR users are aware of?

### Review from individual tests, VO in particular

- No key commands are available in Test 4,6,8,10,12,14

- "Option" key is missi

[2020-02-26 18:12] Yohta89 commented on #54
Thanks @spectranaut ! I attached the file when I edited the comment! Let me know if the format didn't fit.

[2020-02-26 18:23] mcking65 commented on #37
@spectranaut, looking great! I think we now have a very usable report!! On to content!

[2020-02-26 19:27] spectranaut commented on #54
@Yohta89 -- I added the new commands to [this checked in CSV file](https://github.com/w3c/aria-at/blob/master/tests/menubar-editor/data/menubar-edit-at-commands.csv), and then used Jon's script to convert them to the commands.json format.

The commands can all be reviewed in the [menubar testplan review page](https://w3c.github.io/aria-at/review/menubar-editor.html)

[2020-02-26 19:39] Yohta89 opened #84 "Rundown: Review of three tests (menubar,checkbox,combobox)"
Reading the posts on review, I think they could be classified into several categories:

- Consistency > It seems most important to me, but mostly judgment call.
- Command > I think this is something we want to discuss in the meeting instead of posts.
- Language
- Technical bug > I think this could be discussed through GitHub postings if we ran out of time.

Based on this classification I made a ve

[2020-02-26 19:49] mcking65 commented on #37
@spectranaut, there is one more thing that would be very helpful. At the top of the page,  add a link back to ARIA-AT Home: w3c.github.io/aria-at/.

[2020-02-26 19:50] spectranaut opened #85 "Test writing process improvements"
Currently, the process for converting spreadsheets to tests is pretty wonky, and it took me hours to convert Matt's combobox tests using Jon's scripts. The process as we have it right now:

  1. Test must be written in an excel format that is not documented or automatically validated (so if the formats wrong you have to manually debug it) that must be exported to CSV every time you update it.
  2.

[2020-02-26 19:59] mfairchild365 commented on #85
Will authoring tests in Excel be the long term solution? If not, it may be prudent to start work on an alternative sooner rather than later.

[2020-02-26 20:02] mcking65 commented on #53
@Yohta89 wrote:

Was wondering about this. I am fine with saying insert+space. Testers will be trained and can make their own translation as needed, e.g., use capslock if they have that enabled.

We will need to specify which defaults are OK to change, e.g., voice rate, keyboard, etc. But, it is acceptable that we provide only desktop layout key assignments in the instructions, since desktop is th

[2020-02-26 20:47] zcorpan opened #86 "Document vocabulary for label/name/accessible name"
In the telecon today we discussed that there was inconsistency in "label" and "name". We wanted to avoid saying "label" (to align with APG), but that "name" is adequate. No need to say "accessible name".

I think we should document this. In https://github.com/w3c/aria-at/wiki/Test-Harness-and-Test-vocabulary ?

[2020-02-26 20:51] zcorpan opened #87 "Use teleconference IRC bot: dbaron/wgmeeting-github-ircbot"
Consider using https://github.com/dbaron/wgmeeting-github-ircbot for #aria-at teleconferences, so we can get minutes posted as comments in the relevant GitHub issues.

[2020-02-26 21:15] spectranaut opened #88 "Test result page changes before Monday March 2nd"
This is an example of the test results view with random data: https://w3c.github.io/aria-at/results/test-run/1

What changes do we want to make before we upload tests we will be linking publicly?

[2020-02-26 21:30] mfairchild365 commented on #52
@Yohta89 - for f3 and f4 you may also need to press the 'fn' key depending on what keyboard you are using and configuration options for your keyboard.

[2020-02-26 21:30] Yohta89 commented on #53
Thanks for the response Matt!

With regard to the following bullet point, I meant to address the lists of bullets points under the test title, such as "Mode: reading" or "Mode: interaction". Currently, this information shows the mode when testers started the task.
 In the case of the mode-switching task, however, a mode can be switched from one mode to the other thorough a task. So I was wondering

[2020-02-27 03:49] mcking65 commented on #53
@Yohta89

Oh, I understand your point now.

Since the test and assertions describe when a mode is expected to switch and how it is expected to switch, I don't think the extra words would necessarily add clarity.

There are very few tests where mode is expected to switch. In general, mode switching only applies to JAWS and NVDA, and only to a limited set of widgets. These are probably fewer than 0.

[2020-02-27 16:26] mcking65 commented on #53
@spectranaut, Attaching updated tests.xls with changes we discussed yesterday + a couple more tests.
[tests.xlsx](https://github.com/w3c/aria-at/files/4262690/tests.xlsx)

[2020-02-27 22:46] Yohta89 commented on #52
Tested VoiceOver with Safari, and came across two quick clarifications before moving on to Chrome!

1. Does the test result instantly reflected in the review page, or is it stored in a different place? I only see two results of JAWS , and not seeing results from VoiceOver in the page I’m referring.*Attached json file in email

2. Upon submitting the tests, screen reader output information in the “

[2020-02-27 23:18] mfairchild365 commented on #52
Good questions. Test results are not automatically reflected. The Json file has to be reviewed and added to the project for that to happen. Issue 2 sounds like a bug.

Are we considering Chrome in scope for VoiceOver right now?

[2020-02-28 00:31] mcking65 commented on #88
Changes to make (details below):

- [ ] Add caution note about preliminary draft results
- [ ] Add link to example tested and updated date
- [ ] Add breadcrumb

#### Caution note about preliminary results

Immediately following the H1, add:

**CAUTION:** The information on this page is preliminary and not for use outside the ARIA-AT project.

#### Add link to example tested and last updated

Where

[2020-02-28 03:12] Yohta89 commented on #52
Test result from VoiceOver/Safari is in my google folder.
[Retrieve a file from here ](https://drive.google.com/drive/folders/1PBqCN406XKk6DGUwK8xCpUXvubk7xbwQ?usp=sharing)

Tasks I marked as Fail were as follows.
**Test (1 of 14): Navigate through a checkbox group in interaction mode.**
VO speech output was “Lettuce, unchecked”, and I heard no information about group role, such as group name, bou

[2020-02-28 05:36] mcking65 commented on #52
Unfortunately, I ran into a show-stopper with testing checkbox. I was wrong earlier; we are missing tests. The problems are that:
1. When a test asserts container-related behaviors, e.g., entering/leaving a container, we cannot combine tab and shift+tab; they need to be two separate commands for the task. The same is true for x and shift+x, f and shift+f, etc. This is only when testing the contain

[2020-02-28 05:56] mcking65 commented on #52
@Yohta89 wrote:

Thank you!

You are correct, those assertions fail.

Tab and shift+tab also fail when leaving the group but not when entering. We don't have a way to capture that. See my previous comment.

I imagine that both Apple and Freedom Scientific have consciously decided not to announce leaving. So, this will be a point of discussion. In that case, they may not even agree that it would be

[2020-02-28 06:00] mcking65 commented on #52
@mfairchild365 asks:

For our meetings next week, we don't need Vo/Chrome. It is in scope for the project.

[2020-02-28 06:46] mcking65 commented on #77
I like this idea ... a lot! I would change the presentation a bit though. The instructions in the example currently say:

If the test does not have a setup script, then item 1 above is fine except that it needs a period at the end, and I think we should use the word "test" instead of "example" and "activate" instead of "click":

And, if there is no setup script, I assume the nested list would not

[2020-02-28 07:21] mcking65 commented on #85
@mfairchild365 commented:

I've been giving this some thought. At first, I thought Excel might be a good solution for at least the medium term, but after having gone through the process of reviewing test plans, I really think not.

Writing test plans is hard, even harder to get right than I anticipated. There is going to be lots and lots and lots of revising, even after we have significant experie

[2020-02-28 14:14] mfairchild365 commented on #52
@mcking65 - I created a PR to address the issues you listed.

[2020-02-28 15:19] spectranaut commented on #52
ok Matt, thanks to @mfairchild365's speedy PR here are the changes reflected in the test plan: https://w3c.github.io/aria-at/review/checkbox.html

@Yohta89, any chance you can re-run just the checkbox grouping related tests and upload them?

[2020-02-28 17:50] Yohta89 commented on #52
[Retested VO/Safari, and the result .json file is in my google doc again.
](https://drive.google.com/file/d/159inUorLluyaB0VLa6m-nJhWN2_FuuuP/view?usp=sharing)
@spectranaut I re-ran all the tests since I already had the previous test file.
@mcking65 Can you remind me of the deadline to have results of JAWS/Chrome and NVDA/Firefox? Would it still be usable for your next meeting with SR developers i

[2020-02-28 19:33] mcking65 commented on #52
Looks awesome! Thank you, thank you @spectranaut and @mfairchild365!!

[2020-02-28 19:38] mcking65 commented on #52
@Yohta89 commented:

We don't have the NVDA meeting booked, so we really only need JAWS/Chrome by Monday. It'd be good to have NVDA by Wednesday.

Your interpretations of the VO behavior are all correct.

[2020-02-28 22:50] spectranaut commented on #52
Yesterday and today I wrote a script that can diff two results files and save a new one. Matt, please try running it once you have finished your test run. To run:
1. run `npm install` in the aria-at directory after pulling master
2. go to the `scripts` directory
3. run `node test-comparer.js path-to-file-1.json path-to-file-2.json --html`

This will output the differences to the terminal and to a

[2020-02-29 00:29] Yohta89 commented on #52
[Tested JAWS/Chrome, and the result .json file is in my google doc.](https://drive.google.com/file/d/1ft59HfRY0qeXkgEJUxzq_tIomsrqJMRs/view?usp=sharing)

There were several tests I marked them as fail, and following are detail.
Note that last paragraph of Test(13,14,15,16) were full support, but just wanted to leave notes.

----------------------------
Test:(1): Navigate into a checkbox group in i

[2020-02-29 01:53] Yohta89 commented on #52
[Tested NVDA/Firefox, and the result .json file is in my google doc.](https://drive.google.com/file/d/1edAcrQqJyhn3STBzAh7q-qKoKhLBe-JX/view?usp=sharing)

Detail will be updated next week.

[2020-03-02 17:18] spectranaut commented on #88
btw @mcking65 I got to all of your requests!

[2020-03-02 21:43] spectranaut commented on #85
Ok, advice for Jon about the script:

1. The scripts Jon wrote should be moved to `scripts/` directory so they can be used for generating more tests.

    a. This will involved updating the scripts relative paths, specifically, where the test files and commands.json files are written to. Probably this should be a command line variable that tells you the directory name for the design pattern (like

[2020-03-02 21:50] spectranaut commented on #53
I'm going to try not to be involved in test writing unless it's really necessary (like when Jon was out last week!) and I haven't gotten to re-creating the tests.

@jongund, I just copied over your scripts in order to create these tests the first time. The csv files in the `data/` directory are old, you will have to re-export the appropriate CSV files from the spreadsheet Matt uploaded in the prev

[2020-03-02 22:03] #88 closed

[2020-03-02 22:07] #23 closed

[2020-03-02 22:08] #19 closed

[2020-03-02 22:58] spectranaut opened #100 "Updates for the test design"
There are some updates that need to be made to the test design I noticed this last week.
1. [ ] [setup script description](https://github.com/w3c/aria-at/issues/77)
2. [ ] In the results JSON, we might want to get ride of the "summary" object at the test level as well.
3. [ ] In the test display, the results object should be downloadable after the last question has been answered
4. [ ] In the test

[2020-03-03 20:58] isaacdurazo opened #102 "Aria-AT Use Cases"
This is the first draft of 3 different use cases for the Aria AT Test Runner that I was able to identify while conducting a series of conversations with @spectranaut, @mfairchild365 and @mcking65. These include basic user flows as well as alternative flows for some scenarios. I would also like to include Use Cases for the Report itself in the near future.

My intention is to post this in the form

[2020-03-04 16:13] jongund commented on #85
@spectranaut

Thank you for the feedback.
Valarie I will work on theses changes.

[2020-03-04 20:23] spectranaut opened #103 "Change assertions from priority 1-3 to only 2"
We got some feedback that "nice to have" is unclear as to it's meaning. We might want to change to "must have" and "optional".

[2020-03-04 20:26] spectranaut opened #104 "Timeline for test plan development in Spring/Summer 2020"
Break into smaller pieces, and expect it to be an iterative process with lots of opportunity for feedback from AT developers.

Potentially: Write tests for three examples, get feedback, iterate on designs, then work on next three examples and repeat.

[2020-03-04 20:30] spectranaut opened #105 "Name the runner website??"
We should have a cool name for the production runner!

[2020-03-04 21:00] isaacdurazo opened #106 "Designing an documenting results reporting process"

[2020-03-05 22:08] zcorpan commented on #41
I've made changes based on feedback from @mcking65. Please review.

Also I've moved an idea about web content research to APG: https://github.com/w3c/aria-practices/issues/1348

A snapshot of the current revision of the document is also available [in HTML format in www-archive](https://lists.w3.org/Archives/Public/www-archive/2020Mar/att-0001/aria-at-cg-working-mode-2020-03-05.html).

[2020-03-06 18:58] spectranaut commented on #105
Because they are birds that run (so, they are "runners") @evmiguel and I have been calling the runner "[Emu](https://en.wikipedia.org/wiki/Emu)".

[2020-03-06 19:03] spectranaut opened #108 "Decide on list of "applied_to" options"
We have been using both lists of specific screen reader and also categories.

- Specific ATs: 'JAWS', 'NVDA', 'VoiceOver', and 'Orca'
- Categories: 'Screen readers', 'Desktop screen readers'

Do we want to have a mix of categories and specific lists? If so, should we decide some norms for the relationships between the categories and specific screen readers?

[2020-03-07 23:14] mcking65 commented on #108
Yes, there are specific relationships; it is a hierarchy of assistive technologies. This will become more important as we add more assistive technologies.

Here are the values and hierarchy I propose:

* Screen Readers
   * Desktop Screen Readers
      * JAWS
      * NVDA
      * VoiceOver for MacOS
      * Narrator
      * Orca
      * ChromeVOX
   * Mobile Screen Readers
      * VoiceOver for iO

[2020-03-08 00:18] mcking65 commented on #41
@zcorpan, this is coming along very well.

I'd like to make some more fairly significant revisions to the process section. I tried doing it in the google doc, and that just doesn't work for me. So, I am attaching a word doc with my proposal for the process section.

Additionally:
* I think it might read better if we change "AT Implementer" to "AT Developer".
* I think we need to separate APG Task

[2020-03-08 01:05] mcking65 commented on #106
After working more on #41, I think the process section of that document will adequately describe the report publication process.

[2020-03-08 01:05] #106 closed

[2020-03-08 07:02] mcking65 commented on #102
General feedback:
* Would be helpful to name the use cases. OK if they have numbers as well. But, when browsing by heading through all use cases, and when conversing, names would help.
* We need a definition of system roles. Should they match up to the roles in #41? Not all the roles in #41 need a matching system role. But, I wonder if each system role should match to one or more roles in the proc

[2020-03-09 22:21] spectranaut opened #109 "Test generation script: validate commands"
Make sure the commands supplied in the commands.cvs file exist in the [keys.mjs file](https://github.com/w3c/aria-at/blob/master/tests/resources/keys.mjs)

[2020-03-09 22:21] spectranaut opened #110 "Translate checkbox tests to csv files"
And then get ride of the "checkbox-gen" directory (probably delete the "checkbox" directory and then rename "checkbox-gen" to checkbox).

[2020-03-10 13:48] zcorpan commented on #41
Thank you, @mcking65. I have incorporated your edits in the google doc. I've also changed to AT developer and added the APG Task Force role.

[2020-03-10 18:40] zcorpan commented on #41
@mcking65

At this stage, these tests aren't in web-platform-tests, and don't have the same format. So I think we shouldn't use "WPT format" wording, to avoid confusion.

[2020-03-10 18:42] zcorpan commented on #41
I have added a Definitions section based on https://github.com/w3c/aria-at/issues/102#issuecomment-596173899 - and added a few more definitions. I've gone through the working mode document to make sure it's using these terms as appropriate.

I also added new steps in the process for handling feedback.

[2020-03-10 19:18] zcorpan opened #111 "Meeting notes with stakeholders"
I'm filing this as an issue to be transparent about these meetings (with their consent), and to have something to point to in new issues we'll file for things that was brought up in these meetings.

On 2020-03-02, we gave an introductory presentation about the ARIA-AT project to @cookiecrook (Apple). [Meeting notes](https://docs.google.com/document/d/1rI8UlsG9gZr86sJjcf07a7c-a2u3mx8dIejUEKP3xe4/ed

[2020-03-10 19:35] zcorpan opened #112 "No link to the ARIA and Assistive Technologies Community Group"
The README in this repo, or the https://w3c.github.io/aria-at/ site, or both, should probably link to the community group page: https://www.w3.org/community/aria-at/

[2020-03-10 19:58] zcorpan opened #113 "Instructions for testers about ensuring default AT settings"
Feedback from @cookiecrook in #111

Unless a test has explicit expected user settings, we assume default AT settings. This should be clearly documented for testers prior to running tests, and how to change to default settings.

[2020-03-11 03:50] JAWS-test commented on #111
If I understood the Vispero meeting notes correctly, it was suggested that instead of testing with Firefox, it would be better to test with Edge. I don't think that's a good idea, because in my opinion the AT support of Chrome and Edge are hardly different. I.e. the test results for Chrome will mostly apply to Edge as well. Firefox, however, is a significantly different browser. In my tests with J

[2020-03-11 12:14] zcorpan opened #116 "Which browser / AT combinations to test"
Currently, the plan is to run tests in:

- JAWS/Chrome
- JAWS/Firefox
- NVDA/Chrome
- NVDA/Firefox
- Mac VoiceOver/Chrome
- Mac VoiceOver/Safari

From #111, there's a suggestion from Vispero to test JAWS / Chromium-based Edge instead of JAWS / Firefox.

@JAWS-test wrote

_Originally posted by @JAWS-test in https://github.com/w3c/aria-at/issues/111#issuecomment-597430634_

[2020-03-11 12:18] zcorpan commented on #111
Thanks, @JAWS-test. Let's continue that discussion in https://github.com/w3c/aria-at/issues/116

[2020-03-11 12:34] zcorpan opened #117 "Change assertion priority to only "required" and "optional""
From #111, feedback from Vispero was that it may be hard to get agreement on assertion priority between "should have" and "optional", and we should merge them into only "optional".

I have implemented this change in working mode doc: #41

What was the rationale to have "should have" originally? Do people agree that dropping it is a good idea?

[2020-03-11 12:46] zcorpan opened #118 "Introduce "expected user setting""
From #111, Vispero suggested that some tests may need instructions to change user settings in the AT.

(Related: https://github.com/w3c/aria-at/issues/117)

To address this, I think tests can instruct testers to change user settings, where this makes sense.

I have implemented this in the working mode doc: #41

[2020-03-11 13:19] zcorpan opened #119 "Test result reports should include information about version, build, date"
From #111 , Vispero had feedback on test result reports and that people could infer that an AT doesn't support something based on test results from an old version, while most users use the latest version (which might not yet have a test result report).

To address this, result reports should have a disclaimer, and be clear about version, build and date that the results apply to.

Longer term, we s

[2020-03-11 13:23] zcorpan commented on #56
From #111 - @cookiecrook gave this same feedback, to also test HTML widgets.

[2020-03-11 13:39] zcorpan opened #120 "Clarify relationship with ATTA"
From #111, @cookiecrook asked about the relationship between ARIA-AT and [Assistive Technology Test Adapter](https://github.com/web-platform-tests/wpt/blob/master/wai-aria/README.md). We should clarify this somewhere.

cc @halindrome

[2020-03-11 13:41] zcorpan opened #121 "Rationale for testing desktop AT rather than mobile AT"
From #111, @cookiecrook asked why this project starts with testing desktop AT instead of mobile AT. Should we document the rationale for this?

cc @mcking65

[2020-03-11 13:50] zcorpan opened #122 "Consider maintaining documentation in the repository instead of the wiki"
I would like to suggest that documentation for this project live in a `docs` directory in the repository itself, instead of in the wiki.

- code changes that affect documentation can be made and reviewed together, in the same PR.
- it's easier to ask for review on changes to documentation with PRs.
- I think it should be about as easy to change the documentation using GitHub's "edit this file" use

[2020-03-11 14:12] #4 closed

[2020-03-11 14:12] spectranaut commented on #4
Closed because this document is complete.

[2020-03-11 14:15] zcorpan commented on #5
I think this is mostly covered in the [working mode doc](https://docs.google.com/document/d/1CXNRSDj1rFsVPtCu4YFww7I0OUEGRIXY6i_s453uaak/edit), which is tracked in issue #41 . Closing this issue -- please reopen or comment if something here is not yet addressed.

[2020-03-11 14:15] #5 closed

[2020-03-11 14:15] spectranaut commented on #6
Closed as tests contribution format has been mostly finalized.

[2020-03-11 14:15] #6 closed

[2020-03-11 14:19] spectranaut commented on #8
Investigation has been completed.

[2020-03-11 14:19] #8 closed

[2020-03-11 14:20] spectranaut commented on #9
timeline completed!

[2020-03-11 14:20] #9 closed

[2020-03-11 14:21] zcorpan commented on #7
I'm not sure whether to have common terms for different ATs, or if it's better to use the terms that are specific for the AT in question. For example, we have tests for VoiceOver that say they're testing "interaction mode", but @cookiecrook pointed out (#111) that VO doesn't have modes, so it's a bit inaccurate to have common terms when the ATs have different idioms or ways of operation.

[2020-03-11 14:21] spectranaut commented on #10
This document is complete.

[2020-03-11 14:21] #10 closed

[2020-03-11 14:22] spectranaut commented on #11
this document served it's purpose.

[2020-03-11 14:22] #11 closed

[2020-03-11 14:23] spectranaut commented on #13
This design period has been completed.

[2020-03-11 14:23] #13 closed

[2020-03-11 14:24] spectranaut commented on #14
This work is complete, the menubar and checkbox tests have been written! :)

[2020-03-11 14:24] #14 closed

[2020-03-11 14:26] spectranaut commented on #15
I believe everything has been addressed and incorporate into the test design, so closing this issue!

[2020-03-11 14:26] #15 closed

[2020-03-11 14:29] spectranaut commented on #16
Closing this issue as no one else has input. - right now, desktop screen readers are the scope of the project, so I think we can't generalize wisely right now.

[2020-03-11 14:29] #16 closed

[2020-03-11 14:33] spectranaut commented on #34
Closing at the menubar editor tests have been written

[2020-03-11 14:33] #34 closed

[2020-03-11 14:39] spectranaut commented on #35
Does anyone still not have access? Like @isaacdurazo ?

[2020-03-11 14:39] spectranaut commented on #36
I think this review has been completed!

[2020-03-11 14:39] #36 closed

[2020-03-11 14:40] spectranaut commented on #37
This report has been completed.

[2020-03-11 14:40] #37 closed

[2020-03-11 15:07] zcorpan commented on #57
I have created these labels.

[2020-03-11 15:08] spectranaut commented on #62
This document has some explanation of this: https://github.com/w3c/aria-at/issues/18

[2020-03-11 15:12] spectranaut commented on #122
This is the website with documentation for WPT: https://web-platform-tests.org/

[2020-03-11 15:14] spectranaut opened #123 "Create documentation for what exists in the ARIA-AT repository"
Put this documentation in either the wiki or repo, depending on the result of this conversation: https://github.com/w3c/aria-at/issues/122

[2020-03-11 15:16] spectranaut commented on #118
Example from @mfairchild365: https://github.com/w3c/aria-at/issues/63

[2020-03-11 15:18] zcorpan commented on #57
We could also have labels for each AT we're testing: JAWS, VoiceOver, NVDA

[2020-03-11 15:27] spectranaut commented on #77
I'll implement Matt's suggestion if no one has any further input!

[2020-03-11 15:28] zcorpan commented on #105
I think it should be super clear what it is, at least if you know about the project. The accessibility community seems to have a lot of acronyms and clever names (like "Silver"), and it's not very accessible or inclusive, ironically.

[2020-03-11 15:30] spectranaut commented on #75
For me, the question here is: if these tests are declarative, we might want to get rid of the middle ground "test file" step and just have software that takes the CSV files and produces tests in an interface.

[2020-03-11 15:32] spectranaut commented on #108
To do for Val: integrate this information into the test design.

[2020-03-11 15:34] spectranaut commented on #103
duplicate of #117

[2020-03-11 15:34] #103 closed

[2020-03-11 15:37] spectranaut commented on #84
@Yohta89 is there things that still need to be addressed that you haven't gotten the chance to bring up in a meeting?

[2020-03-11 15:41] zcorpan commented on #63
@cookiecrook, do you have input on this?

[2020-03-11 16:05] mcking65 commented on #41
@zcorpan commented:

They need to be in wpt format and on the aria-at web site site in the review section before AT devs can review them. And, per our earlier discussion, this is where it is important there is some level of GitHub integration so the AT dev can very quickly and easily create a useful issue with all the right info.

Perhaps you are thinking of internal peer reviews among test devs.

[2020-03-11 17:01] Yohta89 commented on #35
Would you be able to add me as a member of the w3c/aria-at repository?
I realized that I was not a member and want to assign myself for [Issue 110](https://github.com/w3c/aria-at/issues/110#issue-578224339)

[2020-03-11 17:10] Yohta89 commented on #84
They are mostly covered, and I'll bring them up as needed!
The issue was to help us streamline the meeting on 2/26, so I'll be closing this.

[2020-03-11 17:10] #84 closed

[2020-03-11 18:03] isaacdurazo commented on #102
Thanks for the thoughtful feedback, @mcking65! I've now incorporated your suggestions and expanded the use cases with two more alternative flows that include: 1) requiring a specific AT version when submitting a test run to testers and 2) an option for selecting a group of testers depending on the needs of the test run created by the test admin. I've also made several improvements to the wording t

[2020-03-11 18:19] jongund commented on #105
I agree, I prefer a name that people not associated with the project would have some idea about what it is for.   But that sometimes can get wordy and defeats the purpose of a short name.

One potential name is:
AT Runner short for Assistive Technology with ARIA Runner

[2020-03-11 20:33] zcorpan commented on #105
ARIA-AT Runner?

[2020-03-12 18:16] mfairchild365 commented on #52
@mcking65 - Should our test plan also include tests and assertions related to the list semantics that are present in the example?

[2020-03-12 18:21] mfairchild365 commented on #110
@jongund and @spectranaut - I'm happy to do this if it hasn't already been started. Might need a few pointers though.

[2020-03-12 18:22] jongund commented on #110
@mfairchild365
Yohta has been working on converting the tests, should be a pull tomorrow, but they will need to be reviewed by you

[2020-03-16 01:28] mcking65 commented on #122
Whether we have documentation all in the repo, all in the wiki, or split between the two seems like it would depend on the type and purpose of the documentation.

Using the repo is very heavy interms of process and resources. All changes have to be filtered through the team managing protected branches. Editing a file in the repo is more difficult, especially since there is a build process on top o

[2020-03-16 04:51] mcking65 commented on #121
One question is where to document. We could add a scope rationale slide to the about deck. I am planning to update the background page in the wiki to be in sync with the about deck.

To clarify, the ARIA core-AAM does not include accessibility APIs used in mobile browsers. Thus, there is no mobile browser testing conducted by the ARIA WG. Browser support is an upstream dependency for ARIA-AT. That

[2020-03-16 05:00] mcking65 commented on #120
We can document this in the about deck and background page.

Essentially, ATTA is for testing if a browser puts the accessibility semantics into the operating system accessibility API. ARIA-AT is for testing if the screen reader does the right things with the semantics in the API.

Said another way ... ATTA is used by ARIA WG to test browser conformance with the ARIA spec. ARIA--AT is for testing

[2020-03-17 22:09] spectranaut commented on #74
Hey @jongund I just was taking a peak at this, and I notice there is a problem with the generation script! You can see in [this test file](https://github.com/w3c/aria-at/blob/f46af86df8e5fd361c0863baf8685dbf20f78cb5/tests/menubar-editor/read-menuitemcheckbox-in-a-submenu-reading.html#L17), "testPageDocument" should be just "document".

[this line of the script](https://github.com/w3c/aria-at/blob/

[2020-03-17 22:13] spectranaut commented on #74
wow I am now reviewing the PR where you already caught that bug :) Can we close this issue now?

[2020-03-17 22:18] spectranaut commented on #74
Actually, it looks like the menubar-editor still has this bug, but in the combobox test's setup script they are called "testPageDocument" -- so either references to "document" should become "testPageDocument" or the other way around!

[2020-03-18 01:45] jongund commented on #74
@spectranaut
I am working on rewriting the menubar example to make it work with setup script.
It is in a separate branch.
The updated example would also be used in the aria practices.

[2020-03-18 01:59] jongund commented on #74
@spectranaut

You can close this if you want, I think the problem is with the how the examples are written,

[2020-03-18 16:07] zcorpan commented on #122
Removing Agenda+ for now since I think it's not pressing to decide on this right now.

[2020-03-18 16:11] zcorpan opened #125 "Who should review and merge things to master?"
We should decide who will review and merge changes to master. This will likely be different for different directories.

Also document this in the wiki.

[2020-03-18 19:16] mfairchild365 opened #126 "Set up project board for test plans"
One card for each test plan. Each column corresponds to a task in the working mode document

[2020-03-18 19:20] mfairchild365 commented on #126
@zcorpan Sounds like you are going to explore creating a script to create these issues. Let me know what I can do to help.

[2020-03-18 19:29] zcorpan commented on #126
The cols could be:

* Backlog
* Prioritized
* Research stage & proposal (step 1-5)
* Internal review (step 6)
* External review (step 7-8)
* Ready to run / waiting for reviewed test results (step 10-15)
* Complete (step 16)

[2020-03-18 19:32] mfairchild365 commented on #126
Thank you @zcorpan - I made the columns a bit more granular since it may be valuable in quickly identifying what is holding up progress. I'm happy to revise as needed. Thoughts? https://github.com/w3c/aria-at/projects/1

[2020-03-18 19:33] zcorpan commented on #126
@mfairchild365 there's an API to create project board cards

https://developer.github.com/v3/projects/cards/#create-a-project-card

I don't have bandwidth to write a script for this this week. I wouldn't mind if you gave it a try sooner if you have time. :)

[2020-03-18 19:34] zcorpan commented on #126
The columns looks good to me!

[2020-03-18 20:10] zcorpan commented on #125
@michael-n-cooper can you give me authorization to merge to master? I can update documentation.

[2020-03-18 22:42] zcorpan opened #127 "Recurring agenda item: Status on test plans"
We discussed today to have a recurring agenda item for this.

[2020-03-19 18:15] michael-n-cooper commented on #125
Simon now has merge access to master of aria-at.

[2020-03-19 19:26] mfairchild365 commented on #126
@zcorpan @mcking65 - is there an index of examples that I can reference to generate issues? If not, I can either create them manually or create a script that looks for links that have an `href` value that starts with `examples/`.

I assume that we want issues for each example and not just a project card?

[2020-03-20 20:28] zcorpan commented on #126
https://w3c.github.io/aria-practices/examples/ has an index.

GitHub UI provides an easy way to create an issue from a project card.  ("Convert to issue" in the card's menu.) The issue list would be a bit shorter if we only create issues when we transition from backlog to the next stage.

[2020-03-20 20:30] zcorpan commented on #126
That said, we probably want these issues to follow a standard template. I don't know if we can get that from "convert to issue". Creating all issues with the script and with the right template might be better.

[2020-03-20 20:58] zcorpan commented on #18
Looks like there are 2 pages for how to contribute tests.

https://github.com/w3c/aria-at/wiki/Test-Contribution-Process

These should probably be merged into one.

[2020-03-20 21:01] zcorpan commented on #102
There's also a wiki page for "[high-level use cases](https://github.com/w3c/aria-at/wiki/High-level-use-cases)". Should these 2 pages be merged? Or should they be separate but be renamed?

[2020-03-20 21:10] zcorpan commented on #41
I have now moved this to the wiki: https://github.com/w3c/aria-at/wiki/Working-Mode

[2020-03-20 21:25] zcorpan commented on #18
@spectranaut said

I've added a disclaimer to that effect at the top. Who can fix this documentation to match our current way to write tests? @mcking65 @jongund @Yohta89 @mfairchild365

[2020-03-20 22:24] zcorpan commented on #57
This is now documented in [working mode wiki page](https://github.com/w3c/aria-at/wiki/Working-Mode#github-management). The project board is tracked in #126

[2020-03-20 22:24] #57 closed

[2020-03-24 17:26] mfairchild365 commented on #126
I have a script ready to go. I tested it by creating a single card.

@mcking65 Before I generate all cards, should I hard code links to include an APG version?  https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/alertdialog.html vs https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/alertdialog.html

[2020-03-25 18:27] isaacdurazo opened #132 "Aria-AT Wireframes: Test Management, Initiating a Test Cycle, Test Cycle Summary Page, Executing Tests, Raw Test Results and Draft Results"
Wireframes Wiki Page: https://github.com/w3c/aria-at/wiki/Aria-AT-Wireframes
Use Cases in issue #102

# Test Management
This page is accessible from the main menu. There are two sections in this page: 1) Initiate a Test Cycle and 2) Test Cycle Status

## 1. Initiate a Test Cycle
Here, with the click of a button, a new Test Cycle initiation can be executed. This will take the user to another page w

[2020-03-25 19:25] spectranaut opened #133 "Import APG example javascript/html/css directly, instead of copying"
Right now, the example code is hand copied over to the test directory. We need to change this to prevent bifurcation in the examples and the APG.

Options:
1. Import aria-practices as sub module
2. Copy the example directory of aria-practices and check it in every once and a while.
3. Move these test to APG

[2020-03-25 19:27] zcorpan commented on #117
@mcking65 suggests "required" and "optional"

[2020-03-25 19:29] spectranaut opened #134 "Test review page should be autogenerate along side tests"
Right now, there is a script in `scripts/test-reviewer.mjs` that consumes the HTML files and produces the [test plan review pages](https://w3c.github.io/aria-at/review-test-plans/).

Instead, I think we should use @jongund's script to produce both the HTML files and the review pages at the same time. This will make long term maintenance much easier (right now, there is some logic repeated in both

[2020-03-25 19:31] spectranaut opened #135 "When the test is finished, focus should be put on the top of the review tables"
In the test display, clicking "review tests" should move the focus to the top of the review tables. This will require edits to `tests/resources/aria-at-harness.js`.

[2020-03-25 19:31] zcorpan opened #136 "Fix the prototype runner for new assertion priorities"
See https://github.com/w3c/aria-at/issues/117

[2020-03-25 19:32] spectranaut opened #137 "Tests within test plan need an "order""
Right now, you can not order the tests within a test plan for execution. @zcorpan suggested putting the order in the filename (so it will be parsed from the file name when a test run is executed).

[2020-03-25 19:33] spectranaut commented on #100
I made issues for all of these things to be addressed

[2020-03-25 19:33] #100 closed

[2020-03-25 19:41] zcorpan opened #138 "Ability to filter for roles, states, properties"
Tests have `<link rel=help href=...>` (linking to APG design pattern).

In the call today we discussed that there should be an ability to filter for tests with specific roles, states, properties. How should that be done? Is the `<link>` necessary?

[2020-03-25 21:18] mfairchild365 commented on #126
I added cards to [the project board](https://github.com/w3c/aria-at/projects/1). @zcorpan can you take a quick look and make sure that everything looks right?

Script:

[code]

[2020-03-25 22:27] zcorpan commented on #41
As discussed in the call today, I've updated some terms:

previous term | current term
---|---
test run | test plan run
test run suite | test plan run suite
testing round | full test cycle

I also added "partial test cycle", which is an arbitrary subset of full test cycle. This could be used for re-running a specific test plan or a specific browser/AT combination.

[2020-03-31 12:34] zcorpan commented on #42
I have updated phase 2, to align with Bocoup's engineering plan for the test runner, and per discussion with @mcking65 , to have a two test plans at a time review cadence for AT developers (instead of having a shorter review window for everything). Similarly for reviewing test results.

See https://github.com/w3c/aria-at/wiki/Test-Authorship-and-Test-Runner-Development-Plan

In particular, see [wo

[2020-03-31 13:26] zcorpan commented on #126
Very nice! So now we have a bunch of cards. From there, you can convert a card to an issue. But we still need issue templates, similar to https://github.com/w3c/aria-at/issues/55 . See https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository (needs access to the settings pane, which I don't have) or https://help.github.com/en/github/building-a-s

[2020-03-31 13:47] zcorpan commented on #126
PR for issue template: https://github.com/w3c/aria-at/pull/141

[2020-03-31 14:36] zcorpan commented on #111
On 2020-03-19, we gave an introductory presentation about the ARIA-AT project to Aaron Leventhal, Zack Goldberg, Shawn Lauriat, Kim Bae (Google). [Meeting notes](https://docs.google.com/document/d/1QnSdgFvmUbEHy0Q2QeND2nymM-ugOfi5TzKSzz0CK14/edit?usp=sharing).

[2020-03-31 14:44] zcorpan commented on #116
Feedback from Google's web accessibility team (#111) on this

cc @aleventhal

FWIW, I agree with this. It seems more useful to test two separate browser engines, than testing two Chromium-based browsers.

[2020-03-31 15:16] zcorpan opened #142 "Document tests/support.json"
See https://github.com/w3c/aria-at/pull/139

[2020-04-01 12:21] mfairchild365 commented on #116
I'd also like to get confirmation from Apple that we should be testing VoiceOver+Chrome. According to the WebAIM survey, that combination is at 3% usage, and it is fairly widely known that combination does not currently work well.

[2020-04-01 12:58] zcorpan commented on #116
@cookiecrook, can you comment on this?

[2020-04-01 13:09] zcorpan commented on #126
Hmm. The issue template isn't used when converting a card to an issue, as far as I can tell. I have contacted GitHub support with this message:

[2020-04-01 16:39] Yohta89 commented on #132
One quick clarification for the terminology.
Under 'Raw Test Results' heading, there were several mentions of conflicting results, which was slightly unclear to me.

Is it conflicting results among multiple testers, or is there any cases generating conflicting results by a single tester? Since the latter seems unlikely, we might want to clarify what's conflicting results/what would be the cases of

[2020-04-01 16:56] spectranaut opened #145 "Test Refactor"
In consuming the tests, I've realized we need to do a refactor of the test format of the test `.html` files. The purpose of the refactor is to more easily consume metadata from the tests. The refactor is ultimately pretty small, but it will effect three things in this repository. The changes that will have to be made:

- Jon's csv files to test files script ([scripts/create-tests.js](https://githu

[2020-04-01 17:11] mfairchild365 opened #146 "Should we capture the OS version?"
In addition to the AT and browser versions, it may be valuable to also collect the OS version, since system a11y APIs are often tied to the version of the OS.

[2020-04-01 18:00] zcorpan commented on #146
Good point. I think yes.

[2020-04-01 18:56] mcking65 commented on #132
Isaac, I love, love, love the descriptions of the UI! Fabulous work!!!!! Very nicely done!!!!

I've read it all but not finished thinking about it all. Here are some initial thoughts.

Initiating a Test Cycle > 2. Test plans that are missing assignees:

Giving this a second thought, we should discuss whether we want to invest in auto-assignment. Perhaps we could simplify by defaulting to starting

[2020-04-01 19:31] mfairchild365 commented on #145
A potential benefit for moving the JSON to its own file - we could create a schema for the JSON structure and add that to our automated test suite for the project.

[2020-04-01 19:37] zcorpan commented on #138
@spectranaut to come up with a proposal about what to do here based on the needs of the runner

[2020-04-01 19:39] mfairchild365 commented on #138
When the values of states and properties are enumerated (think `aria-haspopup`, it may be helpful to also identify which value is used in which test). Could allow users to quickly see how well `aria-haspopup="true"` is supported vs `aria-haspopup="grid"`.

[2020-04-01 19:39] zcorpan commented on #145
In the telecon today we discussed also removing author information, and rely on GitHub/git for attribution.

[2020-04-01 19:41] mfairchild365 commented on #145
I'll take a look at this for the next call. Goal: estimate how long it will take me to finish this.

[2020-04-01 19:47] zcorpan opened #147 "How to pass "menubarEditor" object to test setup script"
See discussion in https://github.com/w3c/aria-at/pull/128

cc @jongund @spectranaut

[2020-04-02 09:36] zcorpan commented on #132
From the [telecon discussion yesterday](https://www.w3.org/2020/04/01-aria-at-minutes.html), @mcking65 suggested that instead of the test admin deciding on their own which result is correct, the system would facilitate discussion in a GitHub issue for conflicting results, and the testers can go back and re-run / change their raw test results. When the 2 raw test results agree, the draft test resul

[2020-04-02 14:29] zcorpan commented on #145
So with separate JSON files, the HTML files would be essentially identical. An idea is to have a single HTML file to run test, and use a hash in the URL to load the right JSON file. We could generate an index with links to all the "tests".

Something like

[code]

[2020-04-02 18:53] mfairchild365 commented on #145
Do we have any security concerns around including executable JS in the JSON? It would probably be best to avoid `eval()` if possible.

[2020-04-02 20:24] mfairchild365 commented on #126
@zcorpan - let me know what you find out. Some alternative approaches:

1. Whenever we convert a card to an issue, manually copy over the template. Cons: we might forget
2. Delete the existing cards and replace them with issues (and generate those issues). Cons: our issue tracker will explode

[2020-04-02 20:42] zcorpan commented on #145
It seems possible to avoid executable code in the JSON as well, e.g. by defining functions for all special cases needed and have the JSON data say which functions it needs.

[2020-04-02 21:08] mfairchild365 commented on #145
That's the route that I was thinking. Its easier to read and just seems cleaner. The hard part will be generating a callable list of functions, which are defined separately for each test plan. Not quite sure how to approach that in a maintainable way; but I'll explore it.

[2020-04-03 01:10] isaacdurazo opened #148 "Aria-AT Wireframes: Account Settings and Users Page"
# Account Settings
This page is accessible through the main menu by clicking the gear icon and selecting "Account settings" from the dropdown menu. There are two sections in this page 1) User details and 2) Assistive Technologies

## User Details
This section pulls the user's basic info from Github: email address and username.

## Assistive Technologies
This section is a checkbox list of the Assis

[2020-04-04 00:28] isaacdurazo commented on #132
Based on the feedback for how to handle assignments and how to deal with conflicting results, I've made changes to the following wireframes: 1) Initiating a Test Cycle, 2) Test Cycle Summary Page, 3)  Executing Tests and 4) Raw Results.

Note: This response includes only details about the changes. I will be updating the wiki page with a complete new version of all the wireframes early next week.

[2020-04-06 08:14] mcking65 commented on #132
@isaacdurazo, Here's the rest of my feedback on the design for these screens.

#### General feedback

Per our discussion Thursday, if you don't update the images, please update descriptions in any place where you change the design based on feedback. It is good for the team to understand, then that the text is the plan of record if it differs from the image.

On all the pages with sections, I assum

[2020-04-06 08:50] mcking65 commented on #148
Isaac, Looking good. Just a few ideas/questions.

In #132, I wrote down some thoughts about global navigation across the app. Do we have a design for the main menu?

I am a little concerned about burying primary nav in a popup menu. Perhaps that is less of a concern if we have a home page that is directly accessible from the banner and has links to the main sections of the app. Something to discus

[2020-04-06 18:43] isaacdurazo commented on #148
Thanks @mcking65 here my response to your comments:

The Wireframes include a design for the navigation but I'm just realizing I did not include that in my descriptions. I will be adding that so you are able to review.

Making it a link sounds good.

Maybe we can have both, real name and username?

Great idea. I'll make sure we add this info

Sounds good!

In addition to this. We'll make sure all

[2020-04-07 15:34] spectranaut commented on #138
Since we are talking about making a structured JSON file for all information about the test in #175, it will be trivial to add as much data as we want in this regard! We could, for example, have an `aria` key in the test json that as a list of "objects" which have either a `role` property, or a `property` property with an optional `value` property.

[2020-04-08 11:35] zcorpan opened #151 "Show "pass / total" instead of "pass / fail" in test results"
https://w3c.github.io/aria-at/results/test-run/1/

Brett from Vispero reviewed this and was confused about what the pass/fail meant:

It means 7 assertions passed and 5 assertions failed. I think it'd be clearer with pass / total.

cc @isaacdurazo @spectranaut @mcking65 @mfairchild365

This was previously discussed in #19.

[2020-04-08 13:04] zcorpan opened #152 "More GitHub issue templates"
Right now we have an [issue template for creating new test plans](https://github.com/w3c/aria-at/blob/master/.github/ISSUE_TEMPLATE/test-plan.md). Should we have other issue templates?

Issue templates can guide the user with what information to provide and also automatically apply the right labels.

[2020-04-08 15:23] zcorpan commented on #132
@mcking65

Adding `Agenda+` to discuss this today.

[2020-04-08 19:39] zcorpan opened #156 "Create tests for APG design pattern: simple checkbox"
APG design pattern: https://github.com/w3c/aria-practices/issues/1369

- [ ] Test committed:
- Test reviewed:
   - [ ] Review of test description
   - [ ] JAWS commands
   - [ ] NVDA commands
   - [ ] VoiceOver commands
- [Test results](https://w3c.github.io/aria-at/results/)
  - [ ] JAWS/Chrome
  - [ ] JAWS/Firefox
  - [ ] NVDA/Chrome
  - [ ] NVDA/Firefox
  - [ ] Mac VoiceOver/Chrome
  - [ ] Mac

[2020-04-08 21:13] zcorpan commented on #42
https://www.w3.org/2020/04/08-aria-at-minutes.html#item03

I've pushed the dates out one week for test plan completion and review.

[2020-04-09 14:29] jongund commented on #109
This has been done, if they don't exist it generates a error message to the console.

[2020-04-09 14:29] #109 closed

[2020-04-09 20:36] mfairchild365 opened #157 "Consider ignoring generated files in git"
In my experience, this results in cleaner pull requests and reduces the number of merge conflicts. If we want to publish the generated files, we could create releases.

[2020-04-10 06:27] mcking65 opened #158 "Proposal for simplifying user interface and test cycle administration"
The pressing need to provide feedback on Isaac's work on the wireframes has led me to think longer and more deeply about our discussions of process for arriving at consensus on results of tests so we can share them in reports. V1 of this UI is going to be built throughout the next 3 weeks. In our April 1 meeting, it seemed there was strong support for:

1. Equivalent results from two testers is a

[2020-04-13 14:31] mfairchild365 commented on #158
I think this is fine for V1 and I don't want my following comments to delay the development of V1. However, I did have some thoughts as I have been processing this. I think it might be worthwhile to take a step back and review how this fits in the process as a whole.

From the [working mode document](https://github.com/w3c/aria-at/wiki/Working-Mode):

Having two testers run the same test effective

[2020-04-15 14:43] zcorpan commented on #158
It seems it assumes skills of testers beyond the ability to run tests -- copy and paste into a text editor, understand a text-based diff format, make a decision about whether the difference needs discussion or if they should just change their own result to match that of the other tester. Can we assume those things?

Can the tester choose to ignore the difference and continue to the next test (with

[2020-04-15 19:16] #110 closed

[2020-04-15 19:29] zcorpan commented on #74
Closing

[2020-04-15 19:29] #74 closed

[2020-04-15 19:34] zcorpan commented on #126
@mcking65 pointed out that we can create an issue normally from the template, and then link to it from the card.

I think that should work well enough, and we can close this.

[2020-04-15 19:34] #126 closed

[2020-04-15 21:26] Yohta89 commented on #54
Community Group)
Although we agreed to start peer-review for the menubar at the meeting today, I noticed some of the issues raised by @mfairchild365 on his post Feb.23rd isn't yet fixed.
I'm gonna fix those asap and cue here once the menubar example is ready to review.

[2020-04-17 17:54] mfairchild365 commented on #53
I had a chance to review some of the tests. I didn't have enough time to go through every test in the plan. Overall, this is a great set of tests! The notes/questions that I have are mostly about formatting and consistency than anything else.

Notes:

- Test names
  - Should we use the present tense for test tiles ("Navigate to" instead of "Navigating to") (other plans do this)?
  - should we incl

[2020-04-20 09:18] mcking65 commented on #132
I've incorporated my suggestions along with the changes with previous comment into the content from the wiki page. I'loosely marked the starting point of most changes with **MK**.

I didn't yet get to incorporating the changes to the review page I previously made with respect to calling out conflicts.

# Test Management
This page is accessible from the main menu. There are two sections in this pag

[2020-04-20 17:01] isaacdurazo opened #159 "Aria AT - Reports Home Page"
## Reports
This page provides all users to access to all draft and final report data from all test cycles. It enables users to:

1.  See all reports from a given cycle. Within that cycle:
-  See reports for a given AT
-  See reports for a given browser
1.  See all reports for a given AT, perhaps across cycles?
2.  See all reports for a given browser, perhaps across cycles?
3.  See all reports for

[2020-04-20 17:02] isaacdurazo commented on #159
@mcking65 I got this issue started with what we have so far from your comment in https://github.com/w3c/aria-at/issues/132#issuecomment-616421203

[2020-04-21 14:44] mcking65 commented on #132
#### Format of test result diff

When results from 2 or more testers conflict, I've proposed that we enable users to view the details of those differences outside the system by providing a button to copy a formatted text string that describes the differences to the clipboard. Following is a format for that string. If it is copied to the clipboard, it could be plain text. If generated for GitHub, i

[2020-04-21 21:43] Yohta89 commented on #54
Once the PR #160 is merged, this should be ready for peer-review.

[2020-04-22 11:56] zcorpan opened #161 "aria-at-harness.mjs shouldn't use sync XHR"
While looking at the `aria-at-harness.mjs` file I noticed that it uses *sync* XHR, which is [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Synchronous_and_Asynchronous_Requests#Synchronous_request) (because it blocks the main thread).

This should be replaced with `fetch()`.

[2020-04-22 12:13] zcorpan commented on #145
I've merged the PR. The "single HTML file" idea wasn't implemented, and I started to look into doing that myself today. I think it might require changes to the prototype test runner as well? It might be more work than I thought at first. I suggest we drop the idea for now.

[2020-04-22 12:15] #145 closed

[2020-04-22 12:28] zcorpan commented on #125
Now documented in https://github.com/w3c/aria-at/wiki/Working-Mode#github-management

Thanks!

[2020-04-22 12:28] #125 closed

[2020-04-22 14:45] spectranaut commented on #157
I like the idea of publishing generated files in releases! :)

[2020-04-22 19:32] mfairchild365 commented on #54
From 2020-04-22 call; I'll document the existing behavior of native menu bars with JAWS. @Yohta89 @jongund will document NVDA and VO.

Sample of aspects to document:

- How roles are conveyed
- Is posinset information conveyed
- What states/properties are conveyed

[2020-04-22 19:43] zcorpan commented on #147
Per discussion today, proposal was to reduce the setupScript steps and have more manual steps.

[2020-04-22 19:51] zcorpan commented on #151
Per telecon discussion today: Change to pass / total.

[2020-04-22 19:59] zcorpan commented on #38
@mfairchild365 to make a PR to add a new key to commands.json

[2020-04-22 21:37] jongund commented on #54
## NVDA and Windows 10 System Menu

Context | Action | Mode | Information
-------- | ------- | ------ | -------------
menu | Move focus to menuitem in menu bar | interactive |

[2020-04-22 21:43] zcorpan opened #162 "Need volunteers for Pilot test - May 11-15"
We need 6 to 12 volunteers to run the pilot test the week of May 11-15. The goal is to run through 3 test plans and produce test results, so we know that it works before we start the first complete test cycle.

If you are able to run tests (i.e., you know how to use the relevant screen reader), it would be great if you could contribute time that week for this. Please edit this comment to add your

[2020-04-22 22:32] jscholes commented on #162
@zcorpan Happy to test with NVDA/Chrome and NVDA/Firefox.

[2020-04-24 11:24] #136 closed

[2020-04-24 11:41] zcorpan opened #164 "Use linear git history"
See https://www.bitsnbites.eu/a-tidy-linear-git-history/ -- I think there are advantages to a linear git history. In particular, when reviewing what has happened in the past, a clean linear history is much easier to work with. Right now there are a few merge commits in master.

It GitHub, this can be enforced by:

* Uncheck "Allow merge commits" under [Options, Merge button](https://github.com/w3c

[2020-04-24 12:09] mfairchild365 commented on #164
@zcorpan I think that's a good plan.

[2020-04-24 13:58] zcorpan opened #165 "Fix accessibility and validation issues with the prototype runner"
See https://lists.w3.org/Archives/Public/public-aria-at/2020Apr/0022.html

The entire prototype is going to be replaced with the new testing system currently under development, but since the prototype is what we have available right now, easy fixes may still be worthwhile to do.

[2020-04-24 14:44] jongund commented on #165
@zcorpan

We should also be including ARIA landmarks:

* [ARIA Landmark Patterns](https://www.w3.org/TR/wai-aria-practices-1.1/#aria_landmark)
* [ARIA Landmark Example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/landmarks/index.html)

[2020-04-24 15:01] jha11y commented on #162
@zcorpan I am happy to yes any combinations

[2020-04-24 15:18] robfentress commented on #116
Which version of each screen reader will we be using?  Also, I just want to confirm that we will be testing with the Chromium rather than the EdgeHTML build of the Edge browser.  I think, generally, that we should also specify the version of each browser to be used.  I apologize if this is listed elsewhere, but I'm just starting to engage with the group and am trying to get up to speed.

[2020-04-24 15:25] robfentress commented on #162
I'm happy to help with any of those test combinations, with the qualification that I'm still resolving some issues with our license of JAWS 2019, so I may be stuck with JAWS 2018.  Which versions of the AT and browsers are we using?  For macOS, we should also specify the OS version, since the VoiceOver is integrated into the OS.  I currently have access to machines with High Sierra and Catalina.

[2020-04-24 17:40] mfairchild365 commented on #54
## JAWS 2020 and Windows 10 System Menu on Firefox Browser

Context | Mode | Action | Information | Notes
-------- | ------- | ------ | ------------- | -------
menubar and top-level menuitem | interactive | move focus to menubar | "Menu, file, 1 of 7" |  TODO
menuitem[aria-haspopup] |  interactive | Move focus to menuitem with a popup or popout menu | "toolbars, sub menu, 1 of 2, T" | TODO
menuite

[2020-04-24 21:17] isaacdurazo commented on #159
## Tes Reports Page
This page is accessible to anyone and shows Test Reports in their draft and final states. It includes a table with the following columns:

  1. Test Run Cycle name
  2. AT and Browser Combination
  3. Test plan name

At the top of the table there is a filer control where the user can type what they are looking for and the table will dynamically filter the data. In addition to t

[2020-04-27 18:15] mcking65 commented on #159
@isaacdurazo

Isaac, I like the simplicity.

Here are my questions/comments:
1. Is the test plan name a link that opens the report?
1. Where do I see the status of the report, e.g., draft vs final?
1. If AT and browser are in a single column, that imposes limits on future sorting and filtering.
1. What is the default sort order?
1. If I sort by pattern, then sort by AT/Browser, what will the sort

[2020-04-27 18:49] mfairchild365 commented on #159
I'll echo @mcking65's comments/questions.

Some of my own thoughts:

- I'm not sure that a filter by test plan name is essential for V1. A filter for AT may be most helpful for AT developers, as it will let them quickly refine results that only pertain to them.
- Will this be paginated for v1?
- Do we want to show any sort of pass/failure information in this report? That information could help AT

[2020-04-27 18:53] isaacdurazo commented on #159
Thanks, @mcking65. Here the answers to your questions:

Yes, I forgot to describe this and it's now updated in the wireframes description.

I also forgot to include this part in the description, but yes, it is also there and I have them as labels next to the test plan name. It's been added to the wireframes description now.

That's a great point, I don't see a problem if we split these up into to,

[2020-04-27 19:04] johnfoliot commented on #159
Longtime lurker and occasional commentor's question(s):

What about versions of software? Is your report presuming the most current/recent? With browsers updating (potentially mid-stream in the test process, and/or after test results) it seems to me that which version of OS, Browser, and Screen Reader/AT should be noted - certainly for historic reasons. (ref: CanIuse.com)

And speaking of AT, is t

[2020-04-27 20:06] zcorpan commented on #162
@robfentress good question! Let's discuss the issue of versions in #116

[2020-04-27 20:10] zcorpan commented on #116
I think we want to test whatever is the latest "stable" version at the time of testing. We should make a decision to that effect and document it, though.

We also need to resolve this issue soon.

[2020-04-27 20:28] zcorpan commented on #159
@johnfoliot see #116 for which ATs and which versions to test. As for the report, I think each report should have the following information (also see #119):

* The date the test cycle was initiated
* Maybe the date it moved to "Final"
* The versions of the software (OS, browser, AT) tested (version number, build date, release channel...)
* The git revision of the test

[2020-04-27 20:48] spectranaut opened #166 ""applies_to" key needs to have correct VoiceOver string"
The (support.json file)[https://github.com/w3c/aria-at/blob/master/tests/support.json] has the list of assistive technologies that are known about/testable with this test suite. The string indicating VoiceOver (`VoiceOver`) was update to `VoiceOver for macOS` but the tests still refer to `VoiceOver`.

The test csv files will need to be updated and the tests re-generated!

[2020-04-28 18:49] mfairchild365 commented on #166
I just want to make sure that I understand this, because there might be an issue.

I noticed that the new key for VoiceOver for macOS is `voiceover-macos`.

In [commands.js files](https://github.com/w3c/aria-at/blob/master/tests/checkbox/commands.json#L4), and in my [proposed structure for command names](https://github.com/w3c/aria-at/blob/9cb9670b14677c1d3cc9674babd871817d0ff5e3/tests/resources/k

[2020-04-28 20:17] spectranaut commented on #166
@mfairchild365 oh wow good point! thanks for catching that. We should update it.

[2020-04-28 21:08] cookiecrook commented on #116
Apple doesn't have an official stance on which combinations get tested for the ARIA-AT project.

But personally, I would agree that testing WebKit/Safari+VoiceOver is higher priority. Whether you should test more depends on your time availability and testing capacity.

Sorry if that's not a very satisfying answer.

[2020-04-28 22:17] isaacdurazo commented on #159
Thanks for your comments @mfairchild365 Here are the answers to your questions:

What do you think about the "global filter" that I have? I was think this way users can filer by whatever they want instead of having a filter for a specific "topic".

I would have to double check with the team. I'm not sure we have this within the scope

I agree this would be beneficial. I think we should discuss thi

[2020-04-28 22:22] isaacdurazo commented on #159
@mcking65 I've updated the wireframe with everyone's suggestions/ideas. The only thing I'm not so sure about is having filters at the column level. I think having a global filter that considers all data within the table, gives the the user the freedom to to search whatever they might need. Instead of restricting their ability to search within the AT column, for example, they can search at a global

[2020-04-29 17:22] michael-n-cooper commented on #164
I checked with other ARIA editors to see if there were concerns. They were ok for you to do this for the aria-at repo, so I've implemented, thanks for the clear instructions.

[2020-04-29 17:30] mcking65 commented on #159
@johnfoliot

Isaac, I was assuming that the AT column shows the AT name and version. If not, it should. Same with browser.

John, The intention is to start with 3 desktop screen readers in 2020 and expand over time to cover more screen readers on more platforms and then more AT on more platforms. The decision to start with desktop platforms is based on the fact that is the only place where we have

[2020-04-29 18:29] jha11y commented on #162
I cannot edit the initial comment. My guess is because I'm not a member of this GitHub repo. Please let me know which combinations I should test

[2020-04-29 19:20] zcorpan commented on #157
In my view, the ideal state would be something like:

* All generated files are in `.gitignore`, so never checked in in master and not included in PRs.
* There could be a separate branch that automatically includes generated files, so their history is available in git.
* Instead of GitHub Pages, we could have CI checks and a publication pipeline for master and all PRs, so everything is validated a

[2020-04-29 19:30] zcorpan commented on #166
- [ ] change from dash to underscore
- [ ] update CSV files
- [ ] regenerate tests

[2020-04-29 21:44] zcorpan opened #167 "GitHub teams for signup and authentication in test runner"
We're planning to use a github teams and github authentication as the signup and login flow for running aria-at tests in the new runner. For now, we can manually add members in GitHub's UI.

There are two aria-at teams in the w3c org: `aria-at` and `aria-at-editors`. We could use these teams for testers and admins in the test runner, I think. Or is there a reason it would be good to add new teams

[2020-04-29 22:01] zcorpan opened #168 "Process for tracking implementation bugs found by running the tests"
The [working mode](https://github.com/w3c/aria-at/wiki/Working-Mode) currently says

I think it would be good to further track these bugs in this project, both to be able to follow up but also to demonstrate impact. It could also be helpful for AT developers to be able to review "the same" bugs in other ATs. It's also good to ensure that bugs are actually filed consistently when they are found.

O

[2020-04-29 22:08] zcorpan opened #169 "Define `npm run` commands for all scripts and document them"
The scripts in `scripts/` should be invokable as `npm run` commands (e.g. `npm run create-tests ...`), so that they are more discoverable. This is done by editing `package.json`.

This should also be documented somewhere. (See #122 for wiki vs in-tree docs.)

[2020-04-30 05:19] mcking65 commented on #116
We discussed this in [today's meeting](https://www.w3.org/2020/04/29-aria-at-minutes.html).

We focused on browser version first asking what happens if the tester is using a managed browser that auto-updates to latest stable version. There was a fair amount of discussion of VMs and other ways of ensuring the precise browser build being used does not change.

Thinking a bit more, and going back to

[2020-04-30 09:29] zcorpan commented on #116
On the practical side, if we run tests manually on testers' own systems, I agree that it's problematic to require a specific version of software that normally auto-upgrades, but we can require a minimum version and a specific release channel ("stable" vs "beta", etc).

However, it's another possible cause of differences between results, which could take more time to resolve. The final reports woul

[2020-04-30 09:32] zcorpan commented on #164
Excellent, thank you!

[2020-04-30 09:32] #164 closed

[2020-04-30 13:01] mfairchild365 commented on #116
I'll echo that. I like the idea of specifying a minimum version, but per my previous testing, it is fairly common to find browser bugs that affect AT support.

I think it is okay to move forward with the minimum version strategy. We can revisit later if it turns out to be too much overhead or if it adds too much complexity to the project.

[2020-04-30 19:31] mfairchild365 commented on #166
I started work on this and quickly discovered that the React app is sprinkled with different declarations of AT definitions. A sample:

- [at-commands.mjs](https://github.com/w3c/aria-at/blob/master/tests/resources/at-commands.mjs#L39)
- [aria-at-harness.mjs](https://github.com/w3c/aria-at/blob/master/tests/resources/aria-at-harness.mjs#L3)
- [static.config.js](https://github.com/w3c/aria-at/blob/

[2020-04-30 22:47] isaacdurazo commented on #159
I've talked to the team about the questions that came up during the last CG call with regard to some features for the reports page. Here the answers:

  1. **Include AT and Browsers version.** We will include this within the scope of this task.
  2. **Sort Cycle column in descending order by date without showing the date.** We will include this within the scope of this task.
  3. **Filtering mecha

[2020-05-01 08:29] mcking65 commented on #52
I did more changing in my PR #170 than I anticipated. The diff is big enough to be about useless so I wrote a summary of changes that you can use when reading the test plan. Please have a close look at the summary.

I included an experimental idea, a kind of shortcut, to solving the mode problem raised by Apple -- include versions of the test that do not mention mode and apply only to VoiceOver. I

[2020-05-01 15:39] robfentress commented on #116
I wonder [AssistivLabs](https://assistivlabs.com/) would be willing to donate access to their virtual environments for screen reader testing.  I had an interesting conversation with Weston Thayer from that company a while back about setting up accessible RDP sessions a while back.  I could reach out to him if folks think that might be a useful strategy.

[2020-05-01 15:39] spectranaut commented on #166
Oh good catch, @mfairchild365. That is why I added the support file, so in the new runner we could just consume the keys from support.json as the source of truth.

It turns out we really need this change in soon as possible (the changes to support.json and the test files) for the production runner, because we have user testing in a week. If you have questions feel free to reach out to me more dire

[2020-05-05 15:07] zcorpan commented on #159
@isaacdurazo wanted a few minutes on the call to give an update on this.

[2020-05-06 08:59] zcorpan commented on #167
@jnurthen and @mcking65 are maintainers currently in the [aria-at team](https://github.com/orgs/w3c/teams/aria-at/members). Can you add me as a maintainer as well?

[2020-05-06 13:20] zcorpan commented on #162
@robfentress I've added you to macOS VoiceOver/Chrome and macOS VoiceOver/Safari.

@jha11y I've added you to JAWS/Chrome and JAWS/Firefox.

Thanks!

[2020-05-06 13:54] zcorpan commented on #116
Thanks, @robfentress. We have an email thread with @WestonThayer about this.

[2020-05-06 14:11] zcorpan commented on #116
The latest stable versions right now:

Product | Version
---|---
[JAWS](https://support.freedomscientific.com/Downloads/JAWS) | 2020.2004.66 - April 2020
[NVDA](https://www.nvaccess.org/download/) | 2019.3.1
[macOS](https://support.apple.com/en-us/HT201260) | 10.15.4
[Windows 10](https://docs.microsoft.com/en-us/windows/release-information/) | 1909, OS build 18363.815
[Chrome](https://www.whatismy

[2020-05-06 15:57] jscholes commented on #162
@zcorpan I'm also available to test with JAWS 2020 and Firefox/Chrome (in addition to NVDA as already indicated) if it would help.

[2020-05-06 17:14] robfentress commented on #54
For **Test 27: Read disabled menu item in submenu in interaction mode**, for VoiceOver, the second assertion is, "The name 'Smaller' is conveyed."  I suspect this is a typo.  Since the 'Larger' menu item is selected based on the Scripted Instructions, I think the assertion should read, "The name 'Larger' is conveyed."

[2020-05-06 17:23] robfentress commented on #54
For **Test 23: Read menu item radio button in submenu in interaction mode**, it should be noted that, for VoiceOver (on Safari, at least), while the group role and group name assertions would not be passed by this test, that information _is_ available if the user navigates the menu using VO+Arrow.  Not sure if that should be added as a different test, or somehow noted elsewhere, or if we just want

[2020-05-06 18:06] robfentress commented on #52
Has there been any discussion of including tests for whether information is conveyed correctly when accessed using the Web Rotor (<kbd>Control</kbd>+<kbd>Option</kbd>+<kbd>U</kbd>) on VoiceOver or through the List of Form Elements (<kbd>Insert</kbd>+<kbd>F5</kbd>) on JAWS or can it safely be assumed that things will be communicated appropriately in these contexts?  Similarly, should we be checking

[2020-05-06 18:12] robfentress commented on #52
Grrr.  Nevermind.  I see the <kbd>Control</kbd>+<kbd>Option</kbd>+<kbd>Command</kbd>+<kbd>J</kbd> and <kbd>X</kbd>.  Sorry for not looking more carefully.

[2020-05-06 18:41] robfentress commented on #162
So that means macOS 10.15.4, Chrome 81.0.4044.138, and Safari 13.1 assuming no changes before May 11?

[2020-05-06 20:08] a11ydoer commented on #159
Thanks for the udpate, @isaacdurazo

In summary, the decision is sorting/filtering by columns and not by global keyword filter. I think it will be fine without global keyword filter. Global keyword filter is rathter confusing at this stage.

I think pass/fail is the important information in this report. I wonder why it is not certain to include this to the current scope. Is it because this is rath

[2020-05-06 20:58] robfentress opened #172 "include instructions to reset screen reader preferences?"
Should there be explicit instructions somewhere to [reset one's screen reader preferences](https://www.apple.com/voiceover/info/guide/_1136.html#vo27926) to their defaults before starting a test plan run?  Otherwise, I worry there may be inconsistent or difficult-to-interpret results because a Tester has their verbosity settings set a certain way or perhaps the last time they used VoiceOver they h

[2020-05-07 10:28] zcorpan opened #173 "Data format for test instructions"
In the telecon yesterday we discussed changing how instructions are represented in the JSON, from having a string with multiple steps separated by a delimiter character, to an array of strings. I think the proposed change is something like from

[code]
to
[code]

This would need changes to `aria-at-harness.mjs` at the same time. It shouldn't affect the runner.

[2020-05-07 10:49] zcorpan commented on #162
Scheduling update: the new runner isn't yet ready for this pilot test, so we need to move the date. Apologies for the late rescheduling.

The new plan is to have the pilot test start on **Wednesday May 20** and end on **Tuesday May 26**.

[2020-05-07 13:51] JasonAment commented on #162
I’d be more than happy to do NVDA or Voiceover. Please put me down for the set that has the greatest need.

[2020-05-07 17:48] mfairchild365 commented on #54
@jongund @mcking65 I finished my review and comparison to a native menubar for JAWS. See the list of suggestions at the end of https://github.com/w3c/aria-at/issues/54#issuecomment-619153517. I'm happy to answer any questions.

[2020-05-08 15:15] shirsha commented on #162
I can help with NVDA/Firefox and NVDA/Chrome

[2020-05-11 12:14] robfentress commented on #116
Is this really true?  I thought Microsoft Edge and Chrome used different accessibility APIs, even though they both run on Chromium.  Wouldn't this be expected to cause different results in some circumstances?

[2020-05-11 19:21] michael-n-cooper commented on #167
I presumed Matt's consent and made Simon a maintainer of the aria-at team. If you find a need to set up additional teams just let me know.

[2020-05-12 07:24] zcorpan commented on #167
Thanks!

[2020-05-12 12:23] zcorpan commented on #18
I've moved the content of "Test Contribution Process" into https://github.com/w3c/aria-at/wiki/How-to-contribute-tests and updated it to try to flesh out what should go into the different CSV files. There are some TODOs still; can someone take a stab at filling them out?

[2020-05-12 12:45] zcorpan commented on #117
This should be fixed now.

[2020-05-12 12:45] #117 closed

[2020-05-12 14:55] zcorpan commented on #172
Yes; this is a duplicate of https://github.com/w3c/aria-at/issues/113

[2020-05-12 14:55] #172 closed

[2020-05-12 14:56] zcorpan commented on #113
@robfentress said in #172

[2020-05-12 14:59] zcorpan commented on #116
cc @smhigley for the above question

[2020-05-13 16:29] isaacdurazo commented on #159
@a11ydoer so sorry for responding this late. I totally missed this comment. Here's my answer:

I agree with you that it is important o include this. It's not really a design issue, but that the Engineering team hasn't gotten to this yet, so they are uncertain still if they will be able to incorporate it as part of the scope of work.

[2020-05-13 19:24] mfairchild365 opened #174 "Differentiate no output and incorrect output in reports"
This may help to clarify what went wrong

[2020-05-14 00:08] zcorpan commented on #162
I've updated assignees and added instructions in the first post above.

[2020-05-14 12:05] zcorpan opened #175 "Regression from #171: uncaught exception"
From #171 this line now throws an exception
[code]
[code]

cc @mfairchild365 @spectranaut

[2020-05-14 12:10] zcorpan commented on #175
Made a PR to revert, if unbreaking it urgent https://github.com/w3c/aria-at/pull/176

[2020-05-14 17:45] spectranaut commented on #175
I couldn't replicate this bug, although I found another one soon to come!

[2020-05-14 17:45] #175 closed

[2020-05-14 17:55] spectranaut opened #177 "Decide whether to use "key" or "name" in applies to field and document"
This bug does not show up in the prototype because the "applies_to" string is ignored there. For example, if you run all checkbox tests for VoiceOver, the tests that don't apply will show up blank in the iframe.

When importing tests into the production runner (https://github.com/bocoup/aria-at-report/) after PR #171, I noticed the "applies_to" string now lists the AT `key` instead of AT `name` (e

[2020-05-14 19:06] mfairchild365 opened #178 "Document the scope of what we include in test plans"
Do we include tests and assertions for ALL of the semantics and functionality in each APG example, or only those that are described by the APG pattern. For example, should we include the list semantics in the APG example for checkboxes, even though the list semantics are not described in the APG pattern for checkboxes?

On the 2020-05-13 call, we agreed that we will only include tests and assertio

[2020-05-14 19:11] mfairchild365 opened #179 "Document how to decide which commands to test with"
On the 2020-05-13 call, we discussed our rationale for not including tests to ensure that things like VoiceOver's Web Rotor convey semantics correctly.

Essentially, the decision boiled down to the fact that we don't have capacity to test every single way those semantics are rendered by screen readers. As long we are testing a few renderings (reading mode, interaction mode, and commands to read th

[2020-05-14 19:16] mfairchild365 commented on #177
Thank you, @spectranaut! I think `voiceover_macos` is the only screen reader where the key differs from the human-readable name. I assumed that we wanted the machine-readable key in the CSVs, but perhaps that was not a good assumption. I'm fine with using either, but I think there might be a higher chance of error (typos) if we use the human-readable key. That, of course, can be mitigated by valid

[2020-05-14 21:58] accessaces commented on #162
hello: i can test with  NVDA and jaws in both Firefox  and chrome and i can test all the types thanks lucy

[2020-05-15 10:29] zcorpan commented on #175
Sorry, false alarm. This happened because of another bug in the prototype runner, where `index.html` files show up as tests that can be run.

[2020-05-15 11:00] zcorpan commented on #162
Scheduling update: All functionality needed for pilot test isn't ready yet. We need to move the pilot test date again, unfortunately.

The new plan is **Wednesday May 27** to **Tuesday June 2**.

Thanks for your patience, and apologies for rescheduling.

[2020-05-15 21:12] jongund opened #180 "index.html links does not work"
I am working updating the menubar-editor tests and I did a merge from master.
When I try to check the updated tests using the pages referenced in the `index.html` file in the `menubar-editor` directory the links reference broken test pages.  It seems the error in  generating a test page is related to specifying an Assistive Technology.  Not sure where this should be in the script.

[2020-05-16 03:35] mfairchild365 commented on #180
@jongund thanks for reporting this. I made a PR. Feel free to [manually implement the fix](https://github.com/w3c/aria-at/pull/181/files) until it is merged so that you are not blocked.

[2020-05-18 16:08] jongund commented on #180
@mfairchild365

I have modified the creation script in [Branch menubar-assertion-updates](https://github.com/w3c/aria-at/tree/menubar-assertion-updates) to generate URLs for each of the ATs a test supports, that will help with development of the test cases and reviewing what ATs a test case applies to.

Here is a [preview of the updated index page](https://raw.githack.com/w3c/aria-at/menubar-asser

[2020-05-19 08:29] zcorpan opened #182 "Remove <main> element from tests"
From the usability study @isaacdurazo did last week, we found that some screen readers will announce all `main` elements even though one of them is in an `iframe`. The tests are loaded in an `iframe` in the runner, and the runner itself uses a `main` element.

I think the fix should be to remove the `main` element from the generated tests.

[2020-05-19 19:25] shirsha commented on #162
Can you please let me know if the invite is already sent to join the github team?
I couldn't find it it in my mail.
I went ahead and tried to getting into staging environment via  http://ara.w3.org/ .
Selected the "Authorize bocoup" button and got message saying unable to load

[2020-05-20 07:53] zcorpan commented on #162
@shirsha the team we use (for now) is here: https://github.com/orgs/bocoup/teams/aria-at-report-testers . You have been invited to this team. You should be able to see your invitation here:

https://github.com/orgs/bocoup/invitation

After this is accepted, "Sign in with GitHub" in http://ara.w3.org/ should work.

[2020-05-20 09:57] #180 closed

[2020-05-20 12:51] zcorpan opened #188 "Global Accessibility Awareness Day comms"
Tomorrow (Thursday) is Global Accessibility Awareness Day. We're planning to publish a blog post on the Bocoup blog about the ARIA AT work, and I'll send a message to the mailing list about this tomorrow.

[2020-05-20 14:05] shirsha commented on #162
@zcorpan Thankyou!
I am able to navigate to http://ara.w3.org/test-queue page. I will start working once the Pilot Test test cycle is initiated.

[2020-05-20 15:54] jongund opened #190 "Issues with Menubar Editor test cases"
* When focus is not set using setup scripts NVDA is in review mode, but the instructions for the interaction tests tell people to press Escape key which does nothing.
* When focus is set using setup scripts NVDA is in interaction mode, but the instructions for the interaction tests tell people to press NVDA+Space which switches to browse mode.
* When focus is set using setup scripts JAWS is in PC

[2020-05-20 18:22] #182 closed

[2020-05-20 19:23] zcorpan commented on #116
Update: NVDA latest version is now 2020.1. We should use this for the pilot test.

The versions for browsers is minimal version -- auto-updates to something later is ok.

The version for ATs should be the exact version listed above.

[2020-05-20 19:24] zcorpan commented on #162
Note: A new NVDA version came out last week or so, please make sure to upgrade. See https://github.com/w3c/aria-at/issues/116#issuecomment-624673182

[2020-05-20 20:08] mfairchild365 opened #191 "Document how testers should interpret the word 'conveys' in assertions"
For example, if an assertion is written as "the menuitem role is conveyed", would that pass if:

- The `menuitem` role is explicitly announced in some way
- The `menuitem` role is not explicitly announced but is implied by a `menu` context
- Both?

[2020-05-20 20:26] #152 closed

[2020-05-20 21:16] zcorpan commented on #162
Note: new URL to staging test runner that should be used for the pilot test is http://aria-at-staging.w3.org/

If you've previously signed in, the sign in should still work with the new URL.

[2020-05-20 21:41] s3ththompson commented on #146
I want to capture here that there is some complexity here as certain ATs (namely VoiceOver for macOS share a version with the OS version).

@isaacdurazo or @zcorpan perhaps you have some guidance on how we should implement this on the test runner frontend? Additionally, should we validate versions against some known dataset?

[2020-05-21 19:48] #190 closed

[2020-05-22 19:23] a11ydoer commented on #162
@zcorpan I can test mac OS/VO

[2020-05-22 19:37] jongund opened #193 "Is there a limit of 5 assertions for each test?"

[2020-05-23 22:57] shirsha commented on #162
I have performed the following steps:

- Made sure the version for NVDA is 2020.1, Chrome is 81.0.4 and Firefox is 76.0.
- Selected the AT from settings.
- Assigned my name to the appropriate test plans in both "Test" and "Test Staging”.
- Entered all the test results in iframe

But when I select the "Next Test" button, I got a message saying "Test 1 has not been completed in full and your progres

[2020-05-25 01:50] mcking65 commented on #54
@mfairchild365 commented:

Agree, we only want to make assertions about role and name of the menubar in the tests related to navigating to the menubar itself.

It is worth noting that if you do not have JAWS loading from the system tray, and if you navigate to the native JAWS menubar in the main JAWS window by pressing "Alt", JAWS announces the menubar role. And, in the JAWS menubar, there is no p

[2020-05-25 02:01] mcking65 commented on #54
I am going to go ahead and merge #184. I think it is really important to get the improvements to the ability to format instructions into all the examples.

That said, I still see need to make multiple changes to menubar. I will make them in a separate PR as suggested by @mfairchild365.

The biggest issue is that reading mode in JAWS and NVDA are so different that, in order to respect their perspec

[2020-05-25 08:16] mcking65 opened #194 "Add ability to specify that mode is not applicable for both commands and tests"
Apple provided feedback that VoiceOver is considered to be modeless. While it has a quick nav feature that is similar to reading mode in other screen readers, it is not considered by Apple to be a mode -- it is a feature that can be toggled on or off.

One way to achieve this is:
1. Add ability to specify that a test does not have a mode dependency, i.e., the mode value is "NA" for not applicable.

[2020-05-25 21:03] a11ydoer opened #196 "Feedback on test: creation of index.html"
If we have index. html, it would be easier to test deployment(ie. netlify) as well as no need to remember specific url to see test files(http://localhost:3000/tests/menubar-editor/).
Is that something possible which can be done quickly?

[2020-05-26 12:16] zcorpan commented on #162
@a11ydoer I've invited you now and assigned you in the table above. Thanks!

[2020-05-26 13:23] jesdaigle commented on #162
@shirsha Are you using the the "run as" button when you run tests?

[2020-05-26 14:04] jha11y commented on #162
Can we test yet?  I haven't tried because the info because the emails say the tests would be ready starting tomorrow (May 27)

[2020-05-26 14:35] s3ththompson commented on #162
@jha11y The pilot test has not officially started as there are still changes that need to be deployed to the app. Tomorrow is the official start of the test.

[2020-05-26 15:15] shirsha commented on #162
I have few questions:

- Which Test  Cycle (Test or Test Staging) should I select?
- I don't see run as option. Where can I find it?

[2020-05-26 15:53] zcorpan commented on #162
In the CG call tomorrow we plan to walk through how to run tests. The first post in this thread also has instructions, we'll make sure they are correct tomorrow.

Here are [instructions for how to join the CG call](https://lists.w3.org/Archives/Public/public-aria-at/2020May/0011.html).

[2020-05-26 23:45] mcking65 opened #199 "Test Runner says tests are complete but the test count does not agree"
Using the [staging system on May 26](http://aria-at-staging.w3.org/cycles/2/run/10), when I came to the end of the checkbox run, the page said I was all done. However, the title said I was on test 16 of 17. I think the 17 was wrong. Also, the text on this page gave the impression I completed all the tests. However, I had skipped most of them.

Here is the copy in main:

[2020-05-26 23:48] mcking65 commented on #199
Oddly, there is no navigation on this page as well ... no button to go back to the queue, no button to go back to the last test. The nav bar is at the top, but it seems like the nav should be consistent with other pages in the runner if we are going to have this page at all. Maybe there should be an option to go directly to the next run in the user's queue.

[2020-05-27 11:34] zcorpan commented on #162
I believe @mcking65 wanted another test to land today before we start the pilot test. The plan is to start after the CG call today.

[2020-05-27 18:28] zcorpan commented on #162
@JasonAment it looks like you still need to accept the invitation. You can do so here: https://github.com/orgs/bocoup/invitation

[2020-05-27 19:09] zcorpan commented on #188
https://lists.w3.org/Archives/Public/public-aria-at/2020May/0016.html

[2020-05-27 19:09] #188 closed

[2020-05-27 19:58] zcorpan opened #204 "Test issue: Tester issue report for: "Navigate to an unchecked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-02-navigate-to-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-02-navigate-to-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Browser:

Chrome (version 83.0.4103.61)

### Descripti

[2020-05-27 20:19] #204 closed

[2020-05-27 22:05] zcorpan commented on #162
@shirsha

"Test Pilot"

After you've assigned yourself to a test plan, the test plan name in the left-most cell becomes a link. That link will start running the tests for that test plan.

See "Instructions for running pilot tests" above for more details; feel free to ask if something is still unclear.

[2020-05-27 22:24] zcorpan commented on #162
In the CG call we talked briefly about redistributing the assignments, after combobox was removed. I haven't made any changes though. @mcking65 and @mfairchild365 can you follow up with this? I don't know what you wanted to test.

This could be done now in the app interface directly, and ignore the table above, if that is easier.

[2020-05-27 23:02] jscholes opened #205 "Tester issue report for: "Navigate into a checkbox group in reading mode""
#### Test file at exact commit

[tests/checkbox/test-21-navigate-into-checkbox-group-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-21-navigate-into-checkbox-group-reading.html)

#### Cycle:

Test Pilot (2020-05-27)

#### AT:

NVDA (version 2020.1)

#### Browser:

Chrome (version 83.0.4103.61)

#### Description

There are separate cas

[2020-05-27 23:48] JasonAment commented on #162
It tells me that the invite cannot be found.

Cheers,
Jason Ament

On May 27, 2020, at 11:28 AM, Simon Pieters <notifications@github.com> wrote:

﻿

@JasonAment<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FJasonAment&data=02%7C01%7C%7Ca4c804be17d04ca056d408d8026bce9a%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637262009330040115&sdata=rxEJHvCgvZRyVgvJMmjVvICKnr%2

[2020-05-28 10:33] zcorpan commented on #162
@JasonAment, hmm that's weird. I've invited you again now.

[2020-05-28 12:39] mfairchild365 commented on #205
Thank you, @jscholes for reporting this. Feedback like this is very helpful. We will fix it after the pilot so that we don't change tests mid-cycle.

[2020-05-28 20:26] spectranaut commented on #205
We can actually fix it whenever, it won't affect the test cycle! :) The test cycle is testing the aria-at tests at a specific revision, so any future commits won't effect the Pilot Test test cycle.

[2020-05-28 20:29] mfairchild365 commented on #162
Let's let people self-assign in the app interface. If you were assigned to the combobox test plan, or if you were not previously assigned to a test plan, or if you just have some extra time on your hands, feel free to self-assign to either the checkbox or menubar plans. We should have at least two testers for each combination of test plan + AT/browser.

If you are not sure how or where to assign y

[2020-05-28 20:34] mfairchild365 commented on #205
Oh! That's awesome. So we can fix it, but it won't reflect in the pilot test cycle. Correct?

[2020-05-28 20:46] zcorpan commented on #205
Correct. When initiating a test cycle, you can choose which commit of `aria-at` to use, and that won't change for that test cycle.

[2020-05-28 22:33] jongund opened #206 "Tester issue report for: "Navigate to menubar""
### Test file at exact commit

[tests/menubar-editor/test-05-navigate-to-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-05-navigate-to-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

The control

[2020-05-29 00:51] robfentress opened #207 "Tester issue report for: "Navigate to an unchecked checkbox""
### Test file at exact commit

[tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

O

[2020-05-29 01:03] robfentress opened #208 "Tester issue report for: "Navigate to a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

Outpu

[2020-05-29 01:13] robfentress opened #209 "Tester issue report for: "Navigate to a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

Despi

[2020-05-29 01:23] robfentress opened #210 "Tester issue report for: "Navigate to an unchecked checkbox""
### Test file at exact commit

[tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

D

[2020-05-29 01:36] robfentress opened #211 "Tester issue report for: "Read an unchecked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-11-read-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-11-read-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

It may be good

[2020-05-29 01:44] robfentress opened #212 "Tester issue report for: "Read an unchecked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-11-read-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-11-read-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

This test was p

[2020-05-29 01:47] robfentress opened #213 "Tester issue report for: "Read a checked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-14-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-14-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

This test was prese

[2020-05-29 01:53] robfentress opened #214 "Tester issue report for: "Read a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-15-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-15-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

It may be good to m

[2020-05-29 01:55] robfentress opened #215 "Tester issue report for: "Read a checked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-14-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-14-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

It may be good to m

[2020-05-29 02:06] robfentress opened #216 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

When "Some assertions w

[2020-05-29 02:11] robfentress opened #217 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

When *"No, there were n

[2020-05-29 02:17] robfentress opened #218 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

The first time Control+

[2020-05-29 02:18] robfentress opened #219 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

The first time Control+

[2020-05-29 02:35] robfentress opened #220 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

Despite the fact that I

[2020-05-29 10:49] robfentress opened #221 "add instructions to users to enable tabbing in Safari settings?"
In Safari settings under Advanced, I have selected, "Press tab to highlight each item on a web page". I assume that is the correct setting.  Do we need to add that to the test instructions?

[2020-05-29 11:04] robfentress opened #222 "Tester issue report for: "Navigate to an unchecked checkbox""
### Test file at exact commit

[tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-03-navigate-to-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descri

[2020-05-29 11:15] robfentress opened #223 "Tester issue report for: "Navigate to a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descriptio

[2020-05-29 11:22] robfentress opened #224 "Tester issue report for: "Navigate to a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-06-navigate-to-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descriptio

[2020-05-29 19:24] mfairchild365 opened #225 "aria-at.w3.org appears to be down"
When I visit http://aria-at.w3.org/ I get an `ERR_CONNECTION_REFUSED`. This hints at a network error. Is it down for everyone, or just me?

[2020-05-29 19:42] mfairchild365 commented on #225
Looks like it is back up.

[2020-05-29 19:42] #225 closed

[2020-05-29 19:54] jongund opened #226 "Tester issue report for: "Navigate to checked menu item radio""
### Test file at exact commit

[tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

S

[2020-05-29 19:55] mfairchild365 commented on #206
Thank you for the report, @jongund. I could not replicate the issue [when testing in the prototype runner](https://w3c.github.io/aria-at/tests/menubar-editor/test-05-navigate-to-menubar-interaction.html?at=voiceover_macos).

I could, however, replicate the issue after going to the VoiceOver Utility's web settings and changing "navigate webpages by" to "Grouping items". The default setting is "DOM

[2020-05-29 20:02] jongund opened #227 "Tester issue report for: "Navigate to checked menu item radio""
### Test file at exact commit

[tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

S

[2020-05-29 20:08] mfairchild365 opened #228 "Tester issue report for: "Navigate to menubar in reading mode""
### Test file at exact commit

[tests/menubar-editor/test-01-navigate-to-menubar-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-01-navigate-to-menubar-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Browser:

Chrome (version 83.0.4103.61)

### Description

The test calle

[2020-05-29 20:15] jongund commented on #206
The grouping option was set so I reset my voice over configuration and will redo the test.

Jon

[2020-05-29 20:23] mfairchild365 opened #229 "Tester issue report for: "Navigate to menubar with commands that switch mode from reading to interaction""
### Test file at exact commit

[tests/menubar-editor/test-03-tab-to-menubar-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-03-tab-to-menubar-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Browser:

Chrome (version 83.0.4103.61)

### Description

Type your description he

[2020-05-29 20:48] mfairchild365 opened #230 "Tester issue report for: "Navigate to checked menu item radio in interaction mode""
### Test file at exact commit

[tests/menubar-editor/test-15-navigate-to-checked-menuitemradio-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-15-navigate-to-checked-menuitemradio-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Browser:

Chro

[2020-05-29 20:54] mfairchild365 opened #231 "Tester issue report for: "Navigate to unchecked menu item checkbox in interaction mode""
### Test file at exact commit

[tests/menubar-editor/test-19-navigate-to-unchecked-menuitemcheckbox-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-19-navigate-to-unchecked-menuitemcheckbox-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Brow

[2020-05-29 20:56] jongund opened #232 "Tester issue report for: "Open submenu""
### Test file at exact commit

[tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Safari (version 13.1)

### Description

I a

[2020-05-29 21:23] mfairchild365 opened #233 "Tester issue report for: "Read checked menu item checkbox in reading mode""
### Test file at exact commit

[tests/menubar-editor/test-35-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-35-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Brow

[2020-05-29 21:25] mfairchild365 opened #234 "Tester issue report for: "Read checked menu item checkbox in interaction mode""
### Test file at exact commit

[tests/menubar-editor/test-36-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-36-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

[2020-05-31 19:11] shirsha opened #235 "Tester issue report for: "Read unchecked menu item radio in reading mode""
### Test file at exact commit

[tests/menubar-editor/test-26-read-unchecked-menuitemradio-in-a-group-in-a-submenu-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-26-read-unchecked-menuitemradio-in-a-group-in-a-submenu-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

NVDA (version 2020.1)

### Browser:

Chrome (version

[2020-05-31 20:37] shirsha commented on #234
I have same comments when testing with NVDA/Chrome

[2020-06-01 16:08] jongund opened #236 "Tester issue report for: "Open submenu in interaction mode""
### Test file at exact commit

[tests/menubar-editor/test-11-open-submenu-of-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-11-open-submenu-of-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

NVDA (version 2020.1)

### Browser:

Firefox (version 76.0.1)

### Description

Should the state of th

[2020-06-01 16:24] robfentress opened #237 "add Firefox with VoiceOver on macOS"
Eventually, we may want to include Firefox on macOS in out test plans, based on following announcement from Mozilla:
[Proper VoiceOver support coming soon to Firefox on MacOS](https://blog.mozilla.org/accessibility/proper-voiceover-support-coming-soon-to-firefox-on-macos/)

Is there a better way to share such info with the group?

[2020-06-01 16:38] jongund opened #238 "Tester issue report for: "Read disabled menu item in reading mode""
### Test file at exact commit

[tests/menubar-editor/test-38-read-disabled-menuitem-in-a-submenu-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-38-read-disabled-menuitem-in-a-submenu-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

NVDA (version 2020.1)

### Browser:

Firefox (version 76.0.1)

### Description

We see

[2020-06-01 17:04] jongund opened #239 "Tester issue report for: "Navigate to unchecked menu item checkbox in interaction mode""
### Test file at exact commit

[tests/menubar-editor/test-19-navigate-to-unchecked-menuitemcheckbox-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-19-navigate-to-unchecked-menuitemcheckbox-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

NVDA (version 2020.1)

### Browser:

Firefox (vers

[2020-06-01 17:10] jongund opened #240 "Tester issue report for: "Read menu item in reading mode""
### Test file at exact commit

[tests/menubar-editor/test-23-read-menuitem-in-menubar-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-23-read-menuitem-in-menubar-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

NVDA (version 2020.1)

### Browser:

Firefox (version 76.0.1)

### Description

Are you navigating to the "S

[2020-06-01 18:43] robfentress opened #241 "Tester issue report for: "Operate a checkbox""
### Test file at exact commit

[tests/checkbox/test-09-operate-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-09-operate-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

Should instructions s

[2020-06-01 18:46] robfentress opened #242 "Tester issue report for: "Read an unchecked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-11-read-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-11-read-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

This te

[2020-06-01 19:00] robfentress opened #243 "Tester issue report for: "Read an unchecked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-11-read-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-11-read-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

When fo

[2020-06-01 19:05] robfentress opened #244 "Tester issue report for: "Read an unchecked checkbox""
### Test file at exact commit

[tests/checkbox/test-12-read-unchecked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-12-read-unchecked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

When fo

[2020-06-01 19:07] robfentress opened #245 "Tester issue report for: "Read a checked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-14-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-14-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

When focus

[2020-06-01 19:08] robfentress opened #246 "Tester issue report for: "Read a checked checkbox in interaction mode""
### Test file at exact commit

[tests/checkbox/test-14-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-14-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

This test w

[2020-06-01 19:12] robfentress opened #247 "Tester issue report for: "Read a checked checkbox""
### Test file at exact commit

[tests/checkbox/test-15-read-checked-checkbox-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-15-read-checked-checkbox-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

When focus

[2020-06-01 19:20] robfentress opened #248 "Tester issue report for: "Read grouping information of a grouped checkbox""
### Test file at exact commit

[tests/checkbox/test-18-read-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-18-read-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

The instruction

[2020-06-01 19:33] robfentress opened #249 "Tester issue report for: "Navigate sequentially through a checkbox group""
### Test file at exact commit

[tests/checkbox/test-20-navigate-sequentially-through-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-20-navigate-sequentially-through-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (versi

[2020-06-01 19:50] robfentress opened #250 "Tester issue report for: "Navigate into a checkbox group""
### Test file at exact commit

[tests/checkbox/test-23-navigate-into-checkbox-group-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-23-navigate-into-checkbox-group-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descriptio

[2020-06-01 19:54] robfentress commented on #250
Nevermind.  My description doesn't make much sense on reflection.  Please disregard.

[2020-06-01 19:54] #250 closed

[2020-06-01 21:30] robfentress opened #251 "Tester issue report for: "Navigate to menubar""
### Test file at exact commit

[tests/menubar-editor/test-05-navigate-to-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-05-navigate-to-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Description

The

[2020-06-01 22:02] robfentress opened #252 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:03] robfentress opened #253 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:03] robfentress opened #254 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:03] robfentress opened #255 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:03] robfentress opened #256 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:04] robfentress opened #257 "Tester issue report for: "Navigate to menu item in menubar""
### Test file at exact commit

[tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-08-navigate-to-menuitem-in-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.6

[2020-06-01 22:05] robfentress commented on #257
I submitted a duplicate issue, because when I submitted it the first time, I didn't get any feedback that it had been successfully submitted, so I submitted it again.

[2020-06-01 23:18] robfentress opened #258 "Tester issue report for: "Open submenu""
### Test file at exact commit

[tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descript

[2020-06-01 23:18] robfentress opened #259 "Tester issue report for: "Open submenu""
### Test file at exact commit

[tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descript

[2020-06-01 23:19] robfentress opened #260 "Tester issue report for: "Open submenu""
### Test file at exact commit

[tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-12-open-submenu-of-menubar-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

Chrome (version 83.0.4103.61)

### Descript

[2020-06-01 23:30] robfentress opened #261 "Feedback on test: Pausing testing until I get answers to other feedback"
Rather than continue to pollute the issue tracker with repetitive feedback and doing a bunch of work that is eventually scrapped because I've misinterpreted the intent/procedure of the tests, I'm going to pause my testing until I get some responses or until we've had a chance to talk about things in our next meeting, whichever comes first.  On the bright side, I've got all the checkbox tests I was

[2020-06-02 04:25] mcking65 commented on #260
@robfentress, the intention is to press ctrl-opt-right-arrow until the VO cursor is on the first submenu item. This is a good call that we should modify the test in some way to make this more clear.

I didn't want to put the number of presses into the command list. I guess since this is a VO specific test, that I could have adjusted the second to last step in the instructions.

The intention is to

[2020-06-02 04:32] mcking65 commented on #259
@robfentress

Please record the output for the way it behaves immediately after page load or refresh. I forget the macOS equivalent of Win ctrl+f5 for refreshing and clearing cache (cmd-opt-r maybe?) ... when refreshing, clear cache as well.

To capture the other behavior we should add another option to the additional behaviors listbox. You could choose other and add in your notes about how it beh

[2020-06-02 04:38] mcking65 commented on #258
@robfentress

So, it seems like setting focus with script is having some unintended side effects. I would have thought it would just announce the element with focus.

Given that you know the script is supposed to set focus in a specific location, I recommend recovering from the side effect manually and starting the test after having done so.

The side effect of setting focus could be something to

[2020-06-02 04:45] mcking65 commented on #257
@robfentress

This is a great question of interpretation!!

There is an argument that a menuitem that is collapsed can only be a parent menu item. So, saying collapsed is adequate. I would probably lean in that direction.

The system has the output you recorded and the decision you made. If other testers arrive at a different conclusion, then the system will call that out and the difference will n

[2020-06-02 04:49] mcking65 commented on #255
closing as dupe of #257

[2020-06-02 04:49] #255 closed

[2020-06-02 04:51] mcking65 commented on #256
closing as dupe of #257

[2020-06-02 04:51] #256 closed

[2020-06-02 04:53] mcking65 commented on #254
closing as dupe of #257

[2020-06-02 04:53] #254 closed

[2020-06-02 04:54] mcking65 commented on #253
closing as dupe of #257

[2020-06-02 04:54] #253 closed

[2020-06-02 04:57] mcking65 commented on #252
closing as dupe of #258

[2020-06-02 04:57] #252 closed

[2020-06-02 05:03] mcking65 commented on #193
If I provide more than 5 assertions, the sixth and beyond are not in the test file. So, there does seem to be a limit.

@s3ththompson  this is a pretty critical issue I think we need to prioritize. See my comment in #251.

[2020-06-02 05:04] mcking65 commented on #251
Yes, the need to be separated! We have a problem in the system ... for some reason the number of assertions is capped at 5. Based on this situation, I think fixing this is critical because this should be one good output and one no output, which is way better than incorrect output.

Related to #193.

[2020-06-02 05:09] mcking65 commented on #248
@robfentress

Yap, good observation. I already had this one on my list of things to fix in the instructions; this is good confirmation that is needed.

[2020-06-02 05:13] mcking65 commented on #247
I think this could be captured in the "other" output. See comment in #258.

[2020-06-02 08:41] mcking65 commented on #205
Line 28 of resources/keys.mjs isincorrectly:
[code]

[2020-06-02 15:46] spectranaut commented on #193
@mcking65 and @jongund -- it's the test creation script, actually, that limits the number of assertions to 5. It only takes the first 5 assertions from the spreadsheet, so the fix should be pretty simple, but it won't effect the pilot test.

[Here is the location in the test creation code](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/scripts/create-tests.js#L367)

S

[2020-06-03 01:17] robfentress opened #262 "Save and Close loses progress"
Clicking the Edit button to change what you entered and then clicking the "Save and Close" button causes the following message to be displayed (where [n] is the number of whatever test you are on): "You are about to leave this test run. Test [n] has not been completed in full and your progress on this test won’t be saved." Clicking the Continue button at this point causes what you had entered to b

[2020-06-03 02:01] robfentress opened #263 "Tester issue report for: "Navigate to checked menu item radio""
### Test file at exact commit

[tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

C

[2020-06-03 02:28] robfentress opened #264 "Tester issue report for: "Navigate to checked menu item radio""
### Test file at exact commit

[tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-16-navigate-to-checked-menuitemradio-in-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4)

### Browser:

C

[2020-06-03 02:34] robfentress commented on #261
I was sick today (Tuesday) and so was unable to finish the rest of the menubar tests after receiving responses to some of the issues I'd raised yesterday.  Although I still tried to do some more later in the evening when I was feeling a little better, it is 10:32 now and I've gotta get to sleep.  Sorry I wasn't able to finish everything by the end of the day.

[2020-06-03 13:37] zcorpan commented on #162
**Thank you** to everyone who contributed in the pilot test!

I look forward to hearing about this in the CG call today. What worked well, what could be improved. I see a lot of issues filed, many from @robfentress - thank you! I haven't yet reviewed them in detail, but it looks like we have some work to do.

Some tests are not completed. We can discuss whether to take the partial results or exten

[2020-06-03 13:45] zcorpan commented on #237
Thanks! Also see https://github.com/w3c/aria-at/issues/116

Filing issues is appropriate I think.

cc @mcking65 @MarcoZehe @cookiecrook

[2020-06-03 13:51] zcorpan commented on #221
The instructions should say what the right setting is here indeed.

cc @mfairchild365

[2020-06-03 13:59] mfairchild365 commented on #221
This is a great suggestion. I hesitate to put these instructions in each test, as that might get too lengthy and repetitive. Perhaps we can add these instructions to the wiki page on [how to configure screen readers for testing](https://github.com/w3c/aria-at/wiki/Configuring-Screen-Readers-for-Testing). What do you think @mcking65?

[2020-06-03 14:29] zcorpan commented on #261
Thank you @robfentress . I've added Agenda+

[2020-06-03 18:03] evmiguel opened #265 "Tester issue report for: "Navigate to an unchecked checkbox in reading mode""
### Test file at exact commit

[tests/checkbox/test-01-navigate-to-unchecked-checkbox-reading.html](https://github.com/w3c/aria-at/blob/777bceeb7fded9dbafcb4a739e86e7b986372b1b/tests/checkbox/test-01-navigate-to-unchecked-checkbox-reading.html)

### Cycle:

Test Cycle by Isaac (2020-05-26)

### AT:

JAWS (version 0)

### Browser:

Chrome (version 0)

### Description

Type your description here.

[2020-06-03 18:46] #265 closed

[2020-06-03 18:46] evmiguel commented on #265
This was a test

[2020-06-03 20:35] accessaces commented on #162
HELLO: UNFORTUNATELY I HAD TIME LAST WEEK BUT YOU SAID TO HOLD OFF AND I
WAS NOT ABLE TO GET TO THIS UNTILL TODAY IS THERE STILL A NEED FOR ME TO GO
IN AND TEST LUCY
lucia Greco
http://accessaces.com
follow me on twitter @accessaces

On Wed, Jun 3, 2020 at 6:38 AM Simon Pieters <notifications@github.com>
wrote:

[2020-06-03 21:37] zcorpan commented on #162
We discussed learnings from the pilot test in the CG call, minutes here: https://www.w3.org/2020/06/03-aria-at-minutes.html

The feedback is fantastic. We will go through everything and make a summary report.

We want to reach **complete test results by at least one tester for every test plan** for the pilot test. To that end, the last day of the pilot test is moved to **Sunday June 7**.

Please c

[2020-06-03 21:42] jscholes commented on #162
@zcorpan Have completed all checkbox tests for JAWS/FF, JAWS/Chrome, NVDA/FF and NVDA/Chrome.  Let me know if there are any problems with something or I can provide further feedback about the UX as a whole.

[2020-06-03 21:44] zcorpan commented on #162
Hi @accessaces! Thank you, I have invited you to the relevant GitHub team. Please see the top of this issue for instructions, and coordinate with @mfairchild365 and @mcking65 with assignments.

[2020-06-03 23:34] zcorpan commented on #167
@michael-n-cooper So, as a stop-gap, we used teams in Bocoup org, but we should have the teams in the w3c org. I now think the teams for the app should be separate to the current `aria-at` and `aria-at-editors` teams for clarify. We also have both production and staging for the app with different teams.

Please create these teams in the w3c org:

* `aria-at-app testers`
* `aria-at-app admin`
* `ar

[2020-06-04 00:22] michael-n-cooper commented on #167
Got those four teams set up, and all those people added to each team with maintainer access. In addition:

* The "aria-at-app admin" team has maintainer access to the repository.
* The "aria-at-app admin" and "aria-at-app staging admin" teams have write access to the master branch.
* The "aria-at-app admin" team has write access to the gh-pages branch.

Let me know if you need any of those setting

[2020-06-04 01:23] robfentress commented on #162
I'll finish the menubar testing with VoiceOver using Chrome by the end of day on June 7th (probably sooner).

[2020-06-04 07:23] zcorpan commented on #167
They don't need any particular GitHub access, but it's OK for the "aria-at-app admin" team to have it.

Thank you!

[2020-06-04 17:48] mfairchild365 commented on #229
@mcking65 I'd like your answer on this one. Does the "menuitem" role need to be explicitly conveyed? This is related to #191

[2020-06-04 17:53] mfairchild365 commented on #193
I'll take point on fixing this. For now, I'll just bump up the limit to something more reasonable. This being a CSV file, I'm not sure that we can ever remove a hard limit.

[2020-06-05 15:30] mfairchild365 commented on #230
@mcking65 I created a PR to fix an issue with the test data that was causing this. As I understand it, we can't deploy that fix to the prod runner for this test run since this is an issue with the test data itself. So this test will have to remain unfinished. In other words, it is impossible for me to complete this test run.

@zcorpan does that sound right?

[2020-06-07 15:39] a11ydoer opened #269 "Feedback on test: "open test cycle" is not loading."
ARIA-AT Testing URL is not loading, https://aria-at.w3.org/test-queue/2 and it only shows gray background color. I have looked at error console and I see this message.

Problem url: https://aria-at.w3.org/test-queue/2

action     {type: "TESTS_BY_RUN_ID", payload: {…}}
error      TypeError: Output is excessively verbose, e.g., includes redundant and/or irrelevant speech is not a function

Thanks f

[2020-06-08 03:25] jha11y opened #270 "Tester issue report for: "Operate a checkbox in reading mode""
### Test file at exact commit

[tests/checkbox/test-07-operate-checkbox-reading.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/checkbox/test-07-operate-checkbox-reading.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

JAWS (version 2020.2004.66 - April 2020)

### Browser:

Chrome (version 83.0.4103.61)

### Description

Test does not include descriptio

[2020-06-08 03:32] robfentress opened #271 "Tester issue report for: "Read checked menu item checkbox""
### Test file at exact commit

[tests/menubar-editor/test-37-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-interaction.html](https://github.com/w3c/aria-at/blob/2a3c46f1cbd20e7f2f0a706052d2d82aaf207a29/tests/menubar-editor/test-37-read-checked-menuitemcheckbox-in-a-group-in-a-submenu-interaction.html)

### Cycle:

Test Pilot (2020-05-27)

### AT:

VoiceOver for macOS (version macOs 10.15.4

[2020-06-08 19:33] mfairchild365 commented on #269
Thank you for reporting this, @a11ydoer - I do not see that error when visiting that URL. Can you try again? Perhaps there was an outage over the weekend.

[2020-06-08 20:46] a11ydoer commented on #269
@mfairchild365 I am still having the problem. Can you flush out my test data for NVDA and Chrome so that I can do testing? The error I had was attributed from choosing the option of "Output is excessively verbose"

[2020-06-08 21:05] mfairchild365 commented on #269
@a11ydoer unfortunately, I can't delete results. The button to do so is disabled.

@zcorpan do you have any insight into this issue?

[2020-06-09 07:30] zcorpan commented on #269
Thanks! @spectranaut fixed this yesterday. @a11ydoer can you try again?

The error message is pretty confusing. The problem was "A string was provided, expected a function" for `Array.prototype.find`.

[2020-06-09 07:30] #269 closed

[2020-06-09 13:34] a11ydoer commented on #269
@zcorpan @spectranaut Thanks for fixing this. It is working. Out of curiosity, I  as former developer, wonder why it happened only to me although I know the cause of the problem - I chose the option for  "Output is excessively verbose,"

[2020-06-10 10:50] zcorpan commented on #261
I was going to close this since we're past the pilot test end date. But I think we can keep this open for now, and discuss how to be more responsive to issues from testers in future test cycles.